{% extends '_manage-company.html' %}
{% load static %}

{% block title %}
Update {{listing.title}}
{% endblock title %}

{% block css %}
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/nice_select.css' %}">
<link rel="stylesheet" href="{% static 'css/additional_css.css' %}">

{% endblock css %}

{% block content %}
<div class="md:col-span-12 2xl:col-span-6">
    <div class="card h-full border-0">
        <div class="card-body p-6">
            <div class="flex items-center flex-wrap gap-2 justify-between mb-5">
                <h6 class="mb-2 font-bold text-lg">Business Services</h6>

            </div>
            <div class="table-responsive scroll-sm">
                <table class="table bordered-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Items</th>
                            <th scope="col">Price</th>
                            <th scope="col">Discount </th>
                            <th scope="col">Qoute Req</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td>
                                <div class="flex items-center">
                                    <img src="{% if service.image %}{{service.image.url}}{% else %}{% static 'images/product/product-img1.png' %}{% endif %}" alt="{{service.title}}"
                                        class="shrink-0 me-3 rounded-lg relative inline-block h-12 w-12">
                                    <div class="grow">
                                        <h6 class="text-base mb-0 font-normal">{{service.title}}</h6>
                                        <span class="text-sm text-secondary-light font-normal">Service</span>
                                    </div>
                                </div>
                            </td>
                            <td>{{service.price_decription}} : R{{service.price}}</td>
                            <td>{{service.discount_percentage}}%</td>
                            <td>{{service.qoutations.count}}</td>
                            <td>
                                <a href="{% url 'markets:update-service' service_id=service.id listing_slug=service.business.slug %}"
                                    class="relative py-2 px-4 inline-block items-center justify-center select-none rounded-lg text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                    <span class="">
                                        <i class="fa-solid fa-plus text-xl"></i>
                                    </span>
                                </a>
                            
                                <a href="{% url 'markets:delete-service' service_id=service.id listing_slug=service.business.slug %}"
                                    class="relative py-2 px-4 inline-block items-center justify-center select-none rounded-lg text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                    <span class="">
                                        <i class="fa-solid text-red-600 fa-trash text-xl"></i>
                            
                                    </span>
                                </a>
                            
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
<script src="{% static 'js/nice_select.js' %}"></script>

<script src="{% static 'js/global.js' %}"></script>

{% endblock scripts %}
