{% extends '_base_v2.html' %}
{% load static %}
{% block title %}Order {{order.order_number}}{% endblock title %}
{% block content %}
<section>
    <!-- banner section -->
    <div id="hero-section-"
        class="w-full bg-no-repeat bg-cover bg-center relative z-0 after:w-full after:h-full after:absolute after:top-0 after:left-0 after:bg-white after:bg-opacity-30 after:-z-1">
        <div class="container py-[110px]">
            <h1 class="text-2xl sm:text-3xl md:text-[26px] lg:text-3xl xl:text-4xl font-bold text-custom-h mb-4">
                <span class="leading-1.3 md:leading-1.3 lg:leading-1.3 xl:leading-1.3">Ticket Management</span>
            </h1>
            <ul class="breadcrumb flex gap-7 items-center text-sm lg:text-base font-bold pt-4 list-none pl-0">
                <li class="home relative leading-1.8 lg:leading-1.8">
                    <a href="{% url 'events:manage-ticket-orders' %}"><i class="fas fa-home text-custom-primary"></i>
                        Ticket orders</a>
                </li>
                <li class="leading-1.8 lg:leading-1.8 text-custom-h">
                    {{order.order_number}}
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="transition-all duration-300 px-10">

    <p class="p-5 bg-section-bg-1 mb-5 lg:mb-6 text-sm lg:text-base">
        <span class="leading-1.8 lg:leading-1.8">Thany you for your order. Here you can manage your ticket order. Your order status is {{order.paid}}</span>
    </p>

    <div class="flex flex-col md:flex-row p-10 px-5 md:px-10 shadow-box-shadow-2">
        <div
            class="mr-0 md:mr-10 lg:mr-[30px] xl:mr-10 mb-[30px] md:mb-0 relative w-[100px] md:w-[180px] lg:w-[120px] xl:w-[180px]">
            <img src="{% if order.event.image %}{{order.event.image.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}"
                class="max-w-full w-[100px] md:w-[180px] lg:w-[120px] xl:w-[180px]" alt="{{order.event.title}} image">

        </div>
        <div>
            <h6 class="text-sm text-secondary-color font-bold mb-0">
                <span class="leading-1.3">Event Details</span>
            </h6>
            <h2 class="text-xl md:text-[22px] lg:text-[26px] xl:text-3xl text-heading-color font-bold mb-[10px]">
                <span class="leading-1.3 md:leading-1.3 xl:leading-1.3">{{order.event.title}}
                </span>
            </h2>
            <ul class="list-none pl-0">
                <li>
                    <p class="text-sm flex items-center gap-4 mt-2">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="leading-1.8">{{order.event.get_event_location}}</span>
                    </p>
                </li>
                <li>
                    <a class="text-sm flex items-center gap-4 mt-1">
                        <i class="fa-regular fa-calendar-alt"></i>
                        <span class="leading-1.8">{{order.event.date_time_formatter}}</span>
                    </a>
                </li>
                
                {% if order.paid == 'PAID' %}
                <li>
                    <a class="text-sm flex items-center gap-4 mt-1" href="">
                        <i class="fa-solid fa-ticket"></i>
                        <span class="leading-1.8"> Download Your Tickets</span>
                    </a>
                </li>
                {% elif order.paid == 'NOT PAID' %}
                    <li>
                        <a class="text-sm flex items-center gap-4 mt-1" href="{% url 'events:order-checkout' ticket_order_id=order.id %}">
                            <i class="fa-solid fa-ticket"></i>
                            <span class="leading-1.8"> Pay now</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>


</div>
<section class="w-full my-4 relative block">
    <div class="container">
        <div class="w-full mx-auto bg-white rounded-md p-7 overflow-hidden">
            <div class="relative block">
                
                <div class="mb-5 w-full">
                    <div class="mb-5 w-full">
                       
                        <div class="w-full lg:pl-14">

                            <div class="w-full  pb-7 mb-4 border-b ">
                                <div class="flex lg:justify-between lg:flex-row flex-col gap-4">
                                    <div class="space-y-4 relative block w-fit">
                                        <h6 class="text-base lg:text-lg font-semibold">Payment method</h6>
                                        {% if order.paid == 'PAID' %}
                                        <div class="relative block">
                                            <p class="text-sm lg:text-base text-gray-500">
                                                Yoco checkout
                                            </p>
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{order.payment_method_type}}
                                            </p>
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{order.payment_method_masked_card}}
                                            </p>
                                        </div>
                                        {% else %}
                                        <div class="relative block">
                                            <p class="text-sm lg:text-base text-gray-500">
                                                Waiting for payment
                                            </p>

                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="space-y-4 relative block w-fit">
                                        <h6 class="text-base lg:text-lg font-semibold">Billing address</h6>
                                        <div class="relative block">
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{order.client_address_one}}
                                            </p>
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{order.client_address_two}}
                                            </p>
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{order.client_city}}, {{order.client_province}},
                                                {{order.client_zipcode}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="space-y-4 relative block w-fit">
                                        <h6 class="text-base lg:text-lg font-semibold">Order holder</h6>
                                        <div class="relative block">
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{request.user.get_full_name}}
                                            </p>
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{request.user.email}}
                                            </p>
                                            <p class="text-sm lg:text-base text-gray-500">
                                                {{request.user.phone}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full pb-7 mb-4 border-b overflow-auto">
                                <div
                                    class="align-middle inline-block min-w-full overflow-hidden bg-white px-4 pt-3 rounded-bl-lg rounded-br-lg">
                                    <table class="min-w-full">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="px-2 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-custom-h tracking-wider">
                                                    Ticket type</th>
                                                

                                                <th
                                                    class="px-2 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-custom-h tracking-wider">
                                                    Ticket quantity</th>
                                                <th
                                                    class="px-2 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-custom-h tracking-wider">
                                                    Ticket price</th>
                                                
                                                <th class="px-2 py-3 border-b-2 border-gray-300"></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white">

                                            {% for ticket in order.tickets.all %}
                                            <tr>


                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                    {{ticket.ticket_type.title}}</td>
                                                
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                    {{ticket.quantity}}</td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                    R{{ticket.ticket_type.price}}</td>

                                                {% if order.paid == 'PAID' %}
                                                <td class="px-2 py-4 whitespace-no-wrap text-right  text-sm leading-5">
                                                    <div class="flex items-center space-x-2">

                                                        <a href="{% url 'events:generate-ticket' order_id=order.id ticket_id=ticket.id %}"
                                                            class="text-sm font-normal text-custom-h">Print ticket</a>

                                                    </div>
                                                </td>

                                               

                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                            <tr>


                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>

                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-900  text-base  font-medium leading-5">
                                                    Total quantity</td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-base  font-medium leading-5">
                                                    {{order.quantity}}</td>
                                                {% if order.paid == 'PAID' %}
                                                <td class="px-2 py-4 whitespace-no-wrap text-right  text-sm leading-5">

                                                </td>
                                                {% endif %}


                                            </tr>
                                            <tr>


                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>

                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-900  text-base font-medium leading-5">
                                                    Subtotal</td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-base  font-medium leading-5">
                                                    R{{order.subtotal}}</td>
                                                {% if order.paid == 'PAID' %}
                                                <td class="px-2 py-4 whitespace-no-wrap text-right  text-sm leading-5">

                                                </td>
                                                {% endif %}


                                            </tr>
                                            <tr>


                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>

                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-900  text-base font-medium leading-5">
                                                    Transaction fees</td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-base  font-medium leading-5">
                                                    R{{order.total_transaction_costs}}</td>
                                                {% if order.paid == 'PAID' %}
                                                <td class="px-2 py-4 whitespace-no-wrap text-right  text-sm leading-5">

                                                </td>
                                                {% endif %}


                                            </tr>
                                            <tr>


                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-sm leading-5">
                                                </td>

                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-900  text-base font-medium leading-5">
                                                    Total</td>
                                                <td
                                                    class="px-2 py-4 whitespace-no-wrap text-gray-500  text-base  font-medium leading-5">
                                                    R{{order.total_price}}</td>
                                                {% if order.paid == 'NOT PAID' %}
                                                <td class="px-2 py-4 whitespace-no-wrap text-right  text-sm leading-5">
                                                    <div class="flex items-center space-x-2">

                                                        <a href="{% url 'events:order-checkout' ticket_order_id=order.id %}"
                                                            class="text-sm font-normal text-custom-h">Pay now</a>

                                                    </div>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="w-fit mx-auto pb-7 mb-4">
                                <p>BBGI Thank you for choosing us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}