
<section>
    <!-- banner section -->
    <div class="hero hero-primary overflow-hidden md:p-6  relative z-0">
        <!-- overlay -->

        <!-- Swiper -->
        <div class="hero-slider-container swiper-container md:rounded-[30px] relative">
            <div class="swiper primary-slider home-3">
                <div class="swiper-wrapper md:rounded-[30px]">
                    <!-- Hero  1 -->

                    <div
                        class="swiper-slide md:rounded-[30px] relative z-0 pt-[300px] md:pt-50 pb-[100px] dxxl:h-screen dxxl:min-h-[800px] overflow-hidden flex flex-col justify-center bg-cover bg-center bg-no-repeat bg-[url('../img/slider/home_4.jpg')]">
                        <div class="absolute top-0 left-0 w-full h-full bg-overlay z-20"></div>
                        <div class="container w-full relative z-xl">
                            <div class="">
                                <!-- banner Left -->

                                <div class="slide-animation flex flex-col justify-center items-center text-center">
                                    <p class="text-sm md:text-[15px] lg:text-base font-bold mb-5 !text-white animated">
                                        <i class="fas fa-home"></i>
                                        BBGI &dash; Empowering Black Business
                                    </p>
                                    <h1
                                        class="text-3xl md:text-[40px] lg:text-[50px] dxxl:text-[65px] !text-white leading-[30px] md:leading-10 lg:leading-[50px] dxxl:leading-[65px] font-bold mb-5 animated">
                                        <span
                                            class="leading-[30px] md:leading-10 lg:leading-[50px] dxxl:leading-[65px]">
                                            Empower Growth
                                        </span>
                                    </h1>
                                    <p class="text-sm lg:text-base !text-white mb-5 max-w-[450px] animated">
                                        <span class="leading-[25px] lg:leading-1.8">
                                            Offering resources, networking opportunities, and educational sessions to
                                            support both career professionals and
                                            entrepreneurs in achieving sustainable success.
                                        </span>
                                    </p>
                                    <div class="mt-5 lg:mt-5 mb-[30px] xl:mb-0 animated">
                                        <h5
                                            class="capitalize text-sm md:text-base !text-white relative group whitespace-nowrap font-normal transition-all duration-300 border border-secondary-color bg-white hover:border-heading-color inline-block mr-[15px]">
                                            <span
                                                class="inline-block absolute top-0 right-0 w-full h-full bg-secondary-color group-hover:bg-primary-color z-1 group-hover:w-0 transition-all duration-300"></span>
                                            <a href="{% url 'listings:get-started-with-listing' %}"
                                                class="relative z-10 px-5 md:px-[25px] lg:px-10 py-[10px] md:py-3 lg:py-[17px] group-hover:text-heading-color leading-[23px]">List
                                                Your Business</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero  2-->
                    <div
                        class="swiper-slide md:rounded-[30px] relative z-0 pt-[300px] md:pt-50 pb-[100px] dxxl:h-screen dxxl:min-h-[800px] overflow-hidden flex flex-col justify-center bg-cover bg-center bg-no-repeat bg-[url('../img/slider/home.jpg')]">
                        <div class="absolute top-0 left-0 w-full h-full bg-overlay z-20"></div>
                        <div class="container w-full relative z-xl">
                            <div class="">
                                <!-- banner Left -->

                                <div class="slide-animation flex flex-col justify-center items-center text-center">
                                    <p class="text-sm md:text-[15px] lg:text-base font-bold mb-5 !text-white animated">
                                        <i class="fas fa-home"></i>
                                        BBGI Business Listing
                                    </p>
                                    <h1
                                        class="text-3xl md:text-[40px] lg:text-[50px] dxxl:text-[65px] !text-white leading-[30px] md:leading-10 lg:leading-[50px] dxxl:leading-[65px] font-bold mb-5 animated">
                                        <span
                                            class="leading-[30px] md:leading-10 lg:leading-[50px] dxxl:leading-[65px]">
                                            Showcase Expertise <br>
                                            and Businesses
                                        </span>
                                    </h1>
                                    <p
                                        class="text-sm lg:text-base mb-5 max-w-[450px] pr-[15px] xl:pr-[30px] border-r border-border-color-14 animated !text-white">
                                        <span class="leading-[25px] lg:leading-1.8">
                                            A platform for entrepreneurs and professionals to present their skills and
                                            services, fostering
                                            visibility and
                                            connection.
                                        </span>
                                    </p>
                                    <div class="mt-5 lg:mt-5 mb-[30px] xl:mb-0 animated">
                                        <h5
                                            class="capitalize text-sm md:text-base !text-white relative group whitespace-nowrap font-normal transition-all duration-300 border border-secondary-color bg-white hover:border-heading-color inline-block mr-[15px]">
                                            <span
                                                class="inline-block absolute top-0 right-0 w-full h-full bg-secondary-color group-hover:bg-primary-color z-1 group-hover:w-0 transition-all duration-300"></span>
                                            <a href="{% if request.user.is_authenticated and request.user.is_paid %}{% url 'listings:add-listing' %}{% else %}{% url 'listings:get-started-with-listing' %}{% endif %}"
                                                class="relative z-10 px-5 md:px-[25px] lg:px-10 py-[10px] md:py-3 lg:py-[17px] group-hover:text-heading-color leading-[23px]">List
                                                Business</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero  3 -->
                    <div
                        class="swiper-slide md:rounded-[30px] relative z-0 pt-[300px] md:pt-50 pb-[100px] dxxl:h-screen dxxl:min-h-[800px] overflow-hidden flex flex-col justify-center bg-cover bg-no-repeat bg-[url('../img/slider/13.html')]">
                        <div class="absolute top-0 left-0 w-full h-full bg-overlay z-20"></div>
                        <div class="container w-full relative z-xl">
                            <div class="">
                                <!-- banner Left -->

                                <div class="slide-animation flex flex-col justify-center items-center text-center">
                                    <p class="text-sm md:text-[15px] lg:text-base font-bold mb-5 !text-white animated">
                                        <i class="fas fa-home"></i>
                                        BBGI Campaigns and Contributions
                                    </p>
                                    <h1
                                        class="text-3xl md:text-[40px] lg:text-[50px] dxxl:text-[65px] !text-white leading-[30px] md:leading-10 lg:leading-[50px] dxxl:leading-[65px] font-bold mb-5 animated">
                                        <span
                                            class="leading-[30px] md:leading-10 lg:leading-[50px] dxxl:leading-[65px]">
                                            Promote Unity <br>
                                            and Cooperation
                                        </span>
                                    </h1>
                                    <p
                                        class="text-sm lg:text-base mb-5 max-w-[450px] pl-[15px] xl:pl-[30px] border-l border-border-color-14 animated !text-white">
                                        <span class="leading-[25px] lg:leading-1.8">
                                            Encouraging a spirit of collaboration and mutual support within the Black
                                            African business ecosystem.
                                        </span>
                                    </p>
                                    <div class="mt-5 lg:mt-5 mb-[30px] xl:mb-0 animated">
                                        <h5
                                            class="capitalize text-sm md:text-base !text-white relative group whitespace-nowrap font-normal transition-all duration-300 border border-secondary-color bg-white hover:border-heading-color inline-block mr-[15px]">
                                            <span
                                                class="inline-block absolute top-0 right-0 w-full h-full bg-secondary-color group-hover:bg-primary-color z-1 group-hover:w-0 transition-all duration-300"></span>
                                            <a href="{% url 'campaigns:campaigns' %}"
                                                class="relative z-10 px-5 md:px-[25px] lg:px-10 py-[10px] md:py-3 lg:py-[17px] group-hover:text-heading-color leading-[23px]">Make
                                                A Contribution</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="swiper-button-next !text-white !text-xs">
                        <i class="fa-solid fa-lg fa-arrow-right"></i>
                    </div>
                    <div class="swiper-button-prev !text-white !text-xs">
                        <i class="fa-solid fa-lg fa-arrow-left"></i>
                    </div>
                </div>
                <div
                    class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                    <span class="swiper-pagination-bullet" tabindex="0" role="button"
                        aria-label="Go to slide 1"></span><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                        aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet"
                        tabindex="0" role="button" aria-label="Go to slide 3"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- pinned select area  -->
    <div class="container mt-10 dxxl:-mt-[65px] w-full lg:w-10/12  py-4 relative z-20">
        <div class="w-full overflow-hidden mx-auto sm:flex py-[10px] sm:justify-center relative">
            <form method="get" action="{% url 'bbgi_home:search' %}"
                class="flex flex-wrap overflow-hidden bg-white p-3 w-full mx-auto shadow-lg rounded-xl gap-6 justify-center items-center">
                <div class="relative lg:w-5/12 w-full">
                    <div class="flex bg-white items-center gap-4 text-custom-h">
                        <div>
                            <i class="fa-solid text-custom-h fa-search fa-lg md:fa-xl"></i>
                        </div>
                        <input id="search-service-input"
                            class="border-none w-full  h-14 text-sm md:text-base font-medium focus:ring-0 text-custom-h outline-none focus:outline-none focus:border-none"
                            style="padding-right:50px" type="text" name="query"
                            placeholder="Doctors,  plumbers,  beauty salons..." value="">
                    </div>
                </div>
                <div class="w-[1px] h-full bg-custom-h mx-1 hidden lg:block"></div>
                <div class="relative lg:w-5/12 w-full">
                    <div class="flex bg-white items-center gap-4 text-custom-h">
                        <div>
                            <i class="fa-solid text-custom-h fa-location-dot fa-lg md:fa-xl"></i>
                        </div>
                        <input placeholder="eg. Southdowns"
                            class="border-none w-full  h-14 text-sm md:text-base font-medium focus:ring-0 text-custom-h outline-none focus:outline-none focus:border-none"
                            style="padding-right:50px" type="text" name="place" value="">
                    </div>
                </div>
                <button type="submit" value="submit"
                    class="!text-white bg-custom-h h-12 w-full lg:w-fit p-4 text-center grid items-center justify-center rounded-md mt-2 md:mt-0">
                    <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1 6.68359C1 8.00968 1.52678 9.28145 2.46447 10.2191C3.40215 11.1568 4.67392 11.6836 6 11.6836C7.32608 11.6836 8.59785 11.1568 9.53553 10.2191C10.4732 9.28145 11 8.00968 11 6.68359C11 5.35751 10.4732 4.08574 9.53553 3.14806C8.59785 2.21038 7.32608 1.68359 6 1.68359C4.67392 1.68359 3.40215 2.21038 2.46447 3.14806C1.52678 4.08574 1 5.35751 1 6.68359V6.68359Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M12 13.6836L9 10.6836" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </button>
            </form>
            <div class="absolute hidden top-full left-0 w-full bg-white shadow-lg rounded-xl p-4">
                <button class="text-custom-h font-medium">
                    Use my current location</button>
            </div>
        </div>
    </div>
</section>

<!DOCTYPE html>
<html lang="en">

