{% extends '_manage-event.html' %}
{% load static %}
{{form.media}}
{% block title %}{{event.title}}{% endblock title %}
{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-4 gap-6">

    <!-- Dashboard Widget Start -->
    <div
        class="card px-xl-6 px-4 py-4 shadow-none rounded-lg border-neutral-200 dark:border-neutral-600 h-full bg-gradient-to-r from-primary-600/10 to-bg-white">
        <div class="card-body p-0">
            <div class="flex flex-wrap items-center justify-between gap-1">
                <div class="flex items-center">

                    <div
                        class="w-[64px] h-[64px] rounded-2xl bg-white flex-shrink-0 dark:bg-neutral-800/75 flex justify-center items-center me-2xl-5 me-xl-4 me-3">
                        <span
                            class="w-10 h-10 bg-primary-600 shrink-0 text-white flex justify-center items-center rounded-lg h6 mb-0">
                            <iconify-icon icon="flowbite:users-group-solid" class="icon"></iconify-icon>
                        </span>
                    </div>

                    <div>
                        <span class="mb-2 font-medium text-secondary-light text-base">Ticket Sales</span>
                        <h6 class="font-semibold my-1">{{event.get_total_tickets_sold}}</h6>
                        <p class="text-sm mb-0">
                            Increase by
                            <span
                                class="bg-success-100 dark:bg-success-600/50 px-1 py-0.5 rounded-sm font-medium text-success-600 dark:text-success-400 text-sm">+200</span>
                            this week
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Widget End -->
    <!-- Dashboard Widget Start -->
    <div
        class="card px-xl-6 px-4 py-4 shadow-none rounded-lg border-neutral-200 dark:border-neutral-600 h-full bg-gradient-to-r from-purple-600/10 to-bg-white">
        <div class="card-body p-0">
            <div class="flex flex-wrap items-center justify-between gap-1">
                <div class="flex items-center">

                    <div
                        class="w-[64px] h-[64px] rounded-2xl bg-white flex-shrink-0 dark:bg-neutral-800/75 flex justify-center items-center me-2xl-5 me-xl-4 me-3">
                        <span
                            class="w-10 h-10 bg-purple-600 shrink-0 text-white flex justify-center items-center rounded-lg h6 mb-0">
                            <iconify-icon icon="solar:wallet-bold" class="text-white text-2xl mb-0"></iconify-icon>
                        </span>
                    </div>

                    <div>
                        <span class="mb-2 font-medium text-secondary-light text-base">Avalaible Tickets</span>
                        <h6 class="font-semibold my-1">{{event.get_total_seats}}</h6>
                        <p class="text-sm mb-0">
                            Increase by
                            <span
                                class="bg-danger-100 dark:bg-danger-600/50 px-1 py-0.5 rounded-sm font-medium text-danger-600 dark:text-danger-400 text-sm">-200</span>
                            this week
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Widget End -->
    <!-- Dashboard Widget Start -->
    <div
        class="card px-xl-6 px-4 py-4 shadow-none rounded-lg border-neutral-200 dark:border-neutral-600 h-full bg-gradient-to-r from-red-600/10 to-bg-white">
        <div class="card-body p-0">
            <div class="flex flex-wrap items-center justify-between gap-1">
                <div class="flex items-center">

                    <div
                        class="w-[64px] h-[64px] rounded-2xl bg-white flex-shrink-0 dark:bg-neutral-800/75 flex justify-center items-center me-2xl-5 me-xl-4 me-3">
                        <span
                            class="w-10 h-10 bg-red-600 shrink-0 text-white flex justify-center items-center rounded-lg h6 mb-0">
                            <iconify-icon icon="fa6-solid:file-invoice-dollar"
                                class="text-white text-2xl mb-0"></iconify-icon>
                        </span>
                    </div>

                    <div>
                        <span class="mb-2 font-medium text-secondary-light text-base">Pending Sales</span>
                        <h6 class="font-semibold my-1">15,000</h6>
                        <p class="text-sm mb-0">
                            Increase by
                            <span
                                class="bg-success-100 dark:bg-success-600/50 px-1 py-0.5 rounded-sm font-medium text-success-600 dark:text-success-400 text-sm">+200</span>
                            this week
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Widget End -->
    <!-- Dashboard Widget Start -->
    <div
        class="card px-xl-6 px-4 py-4 shadow-none rounded-lg border-neutral-200 dark:border-neutral-600 h-full bg-gradient-to-r from-success-600/10 to-bg-white">
        <div class="card-body p-0">
            <div class="flex flex-wrap items-center justify-between gap-1">
                <div class="flex items-center">

                    <div
                        class="w-[64px] h-[64px] rounded-2xl bg-white flex-shrink-0 dark:bg-neutral-800/75 flex justify-center items-center me-2xl-5 me-xl-4 me-3">
                        <span
                            class="w-10 h-10 bg-success-600 shrink-0 text-white flex justify-center items-center rounded-lg h6 mb-0">
                            <iconify-icon icon="streamline:bag-dollar-solid" class="icon"></iconify-icon>
                        </span>
                    </div>

                    <div>
                        <span class="mb-2 font-medium text-secondary-light text-base">Total Earning</span>
                        <h6 class="font-semibold my-1">R{{event.get_total_revenue|floatformat:2}}</h6>
                        <p class="text-sm mb-0">
                            Increase by
                            <span
                                class="bg-success-100 dark:bg-success-600/50 px-1 py-0.5 rounded-sm font-medium text-success-600 dark:text-success-400 text-sm">+200</span>
                            this week
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Widget End -->
</div>
<div class="md:col-span-12 2xl:col-span-6 mt-10">
    <div class="card h-full border-0">
        <div class="card-body p-6">
            <div class="flex items-center flex-wrap gap-2 justify-between mb-5">
                <h6 class="mb-2 font-bold text-lg">Ticket Orders</h6>
                <a href="{% url 'events:ticket-orders' event.id %}"
                    class="text-primary-600 dark:text-primary-600 hover-text-primary flex items-center gap-1">
                    View All
                    <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                </a>
            </div>
            <div class="table-responsive scroll-sm">
                <table class="table bordered-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Client</th>
                            <th scope="col">Order</th>
                            
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in event.ticket_orders.all %}
                        <tr>
                            <td>
                                <a href="" class="flex items-center">
                                    <img src="{% if order.buyer.profile_image %}{{order.buyer.profile_image.url}}{% else %}{% static 'images/product/product-img1.png' %}{% endif %}"
                                        alt="{{order.buyer.get_full_name}}" class="shrink-0 me-3 rounded-lg relative inline-block h-12 w-12">
                                    <div class="grow">
                                        <h6 class="text-base mb-0 font-normal">{{order.buyer.get_full_name}}</h6>
                                        <span class="text-sm text-secondary-light font-normal">{{order.buyer.email}}</span>
                                    </div>
                                </a>
                            </td>
                            <td>R{{order.order_number}}</td>
                            
                            <td>R{{order.total_price}}</td>
                            <td>{{order.quantity}} tickets</td>
                            <td>{{order.paid}}</td>
                            <td>
                                <a href=""
                                    class="relative py-2 px-4 inline-block items-center justify-center select-none rounded-lg text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                    <span class="">
                                        <i class="fa-solid fa-plus text-xl"></i>
                                    </span>
                                </a>

                                <a href=""
                                    class="relative py-2 px-4 inline-block items-center justify-center select-none rounded-lg text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                    <span class="">
                                        <i class="fa-solid text-red-600 fa-trash text-xl"></i>

                                    </span>
                                </a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}