{% extends '_manage-listing.html' %}
{% load static %}

{% block title %}All Business Hours{% endblock title %}

{% block content_v2 %}
<div class="relative block bg-white">
    <div class=" py-2  overflow-x-auto">
        <div class="relative flex flex-col w-full h-full text-gray-700 bg-white">
            <div class="p-6 px-0 overflow-x-auto">
                
                {% if listing.is_hours %}
                    
                
                    
                <table class="w-full text-left table-auto min-w-max">
                    <thead>
                        <tr>
                            <th class="p-4 border-y border-blue-gray-100 bg-customborder-custom-text/50">
                                <p
                                    class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                    Day
                                </p>
                            </th>




                            <th class="p-4 border-y border-blue-gray-100 bg-customborder-custom-text/50">
                                <p
                                    class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                    Operating Hours
                                </p>
                            </th>
                            <th class="p-4 border-y border-blue-gray-100 bg-customborder-custom-text/50">
                                <p
                                    class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hour in listing.business_hours.all %}
                        <tr>
                            <td class="p-4 border-b border-custom-text">

                                <p
                                    class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    {{hour.get_day_display}}
                                </p>
                            </td>

                            {% if hour.operating %}
                            <td class="p-4 border-b border-custom-text">
                                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    {{hour.get_operating_hours}}
                                </p>
                            </td>
                            {% else %}
                            <td class="p-4 border-b border-custom-text">
                                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    closed
                                </p>
                            </td>
                            {% endif %}
                            
                            <td class="p-4 border-b border-custom-text space-x-8">
                                <a href="{% url 'listings:update-business-hour' listing_slug=listing.slug hour_id=hour.id %}"
                                    class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                    <span class="">
                                        <i class="fa-solid fa-plus text-xl"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="text-center mb-3 text-3xl font-semibold">Your business operation hours are currently set as <b>{{listing.hours_type}}</b></p>
                    <p class="text-center"><a href="{% url 'listings:update-listing-hours-big' listing.slug %}" class="text-xl text-primary-color text-center">Update Operating Hours</a></p>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock content_v2 %}