{% extends '_subscribe.html' %}
{% load static %}
{% block title %}Contribution added successfully{% endblock title %}

{% block ticketsordercontent %}

<section class="py-20 h-full bg-white font-sans">
    <div class="container">
        <div
            class="w-full max-w-full rounded-xl my-auto bg-gray-50 mx-auto md:w-1/2 lg:w-5/12 relative shadow-xl text-center">
            <div class="p-5 md:p-7">
                <div class="space-y-6">
                    <h3 class="text-custom-h text-2xl md:text-4xl font-extrabold">A Big Thank You</h3>
                    <div>
                        <i class="fa-regular fa-check-circle text-8xl font-extralight text-custom-h"></i>
                    </div>
                    <p class="text-custom-h text-lg font-medium">
                        R{{subscription_order.total_amount|floatformat:2}} to be paid
                    </p>
                    <p class="text-gray-500 text-lg font-medium">
                        Your subscription order was created and ready for futher process! Use this order number <span
                            class="text-custom-h">{{subscription_order.order_id}}</span> for future references.
                    </p>
                    <div class="flex w-full gap-4 items-center justify-between">
                        
                        <a  href="{% url 'listings:cancel-listing-order' subscription_order.id %}">
                            <h5
                                class="uppercase text-sm md:text-base !text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-custom-h hover:border-custom-primary inline-block z-0">
                                <span
                                    class="inline-block absolute top-0 left-0 w-full h-full bg-custom-h group-hover:bg-custom-primary -z-1 group-hover:w-0 transition-all duration-300"></span>
                                <div
                                    class="relative z-1 px-5 font-sans md:px-[25px] lg:px-10 py-[10px] md:py-[15px] lg:py-[17px] group-hover:text-custom-h leading-1.5 uppercase">
                                    cancel
                                </div>
                            </h5>
                        </a>
                        <form method="post">
                            {% csrf_token %}
                            <h5
                                class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-custom-primary hover:border-custom-h inline-block z-0">
                                <span
                                    class="inline-block absolute top-0 right-0 w-full h-full bg-custom-primary group-hover:bg-black -z-1 group-hover:w-0 transition-all duration-300"></span>
                                <button type="submit"
                                    class="relative z-1 px-[30px] lg:px-10 py-3 md:py-[15px] lg:py-[17px] group-hover:text-custom-h leading-1.5 uppercase">
                                    Checkout
                                </button>
                            </h5>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock ticketsordercontent %}
{% block js %}


{% endblock js %}