{% extends '_manage-company.html' %}
{% load static %}
{{form.media}}
{% block title %}{{listing.title}} Manage{% endblock title %}
{% block css %}
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

{% endblock css %}
{% block content %}
<div class="grid grid-cols-1 lg:grid-cols-12 gap-6 mt-6">
    <div class="lg:col-span-12 2xl:col-span-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div
                class="card px-4 py-5 shadow-2 rounded-lg border-gray-200 dark:border-neutral-600 h-full bg-gradient-to-l from-primary-600/10 to-bg-white">
                <div class="card-body p-0">
                    <div class="flex flex-wrap items-center justify-between gap-1 mb-2">
                        <div class="flex items-center gap-2">
                            <span
                                class="mb-0 w-[44px] h-[44px] bg-primary-600 shrink-0 text-white flex justify-center items-center rounded-full h6">
                                <iconify-icon icon="mingcute:user-follow-fill" class="icon"></iconify-icon>
                            </span>
                            <div>
                                <span class="mb-2 font-medium text-secondary-light text-sm">Total Views</span>
                                <h6 class="font-semibold">{{analytics.total_views}}</h6>
                            </div>
                        </div>

                        <div id="new-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                    </div>
                    <p class="text-sm mb-0">Total people who viewed your business</p>
                </div>
            </div>

            <div
                class="card px-4 py-5 shadow-2 rounded-lg border-gray-200 dark:border-neutral-600 h-full bg-gradient-to-l from-success-600/10 to-bg-white">
                <div class="card-body p-0">
                    <div class="flex flex-wrap items-center justify-between gap-1 mb-2">
                        <div class="flex items-center gap-2">
                            <span
                                class="mb-0 w-[44px] h-[44px] bg-success-600 shrink-0 text-white flex justify-center items-center rounded-full h6">
                                <iconify-icon icon="mingcute:user-follow-fill" class="icon"></iconify-icon>
                            </span>
                            <div>
                                <span class="mb-2 font-medium text-secondary-light text-sm">Quotations</span>
                                <h6 class="font-semibold">{{analytics.total_quotations}}</h6>
                            </div>
                        </div>

                        <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                    </div>
                    <p class="text-sm mb-0">Total quotation requests received</p>
                </div>
            </div>

            <!-- <div
                class="card px-4 py-5 shadow-2 rounded-lg border-gray-200 dark:border-neutral-600 h-full bg-gradient-to-l from-warning-600/10 to-bg-white">
                <div class="card-body p-0">
                    <div class="flex flex-wrap items-center justify-between gap-1 mb-2">
                        <div class="flex items-center gap-2">
                            <span
                                class="mb-0 w-[44px] h-[44px] bg-warning-600 text-white shrink-0 flex justify-center items-center rounded-full h6">
                                <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                            </span>
                            <div>
                                <span class="mb-2 font-medium text-secondary-light text-sm">Total Sales</span>
                                <h6 class="font-semibold">$5,00,000</h6>
                            </div>
                        </div>

                        <div id="total-sales-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                    </div>
                    <p class="text-sm mb-0">Increase by <span
                            class="bg-danger-100 dark:bg-danger-600/25 px-1 py-px rounded font-medium text-danger-600 dark:text-danger-400 text-sm">-$10k</span>
                        this week</p>
                </div>
            </div> -->

            <div
                class="card px-4 py-5 shadow-2 rounded-lg border-gray-200 dark:border-neutral-600 h-full bg-gradient-to-l from-purple-600/10 to-bg-white">
                <div class="card-body p-0">
                    <div class="flex flex-wrap items-center justify-between gap-1 mb-2">
                        <div class="flex items-center gap-2">
                            <span
                                class="mb-0 w-[44px] h-[44px] bg-purple-600 text-white shrink-0 flex justify-center items-center rounded-full h6">
                                <iconify-icon icon="mdi:message-text" class="icon"></iconify-icon>
                            </span>
                            <div>
                                <span class="mb-2 font-medium text-secondary-light text-sm">Conversion</span>
                                <h6 class="font-semibold">{{analytics.total_messages}}</h6>
                            </div>
                        </div>

                        <div id="conversion-user-chart" class="remove-tooltip-title rounded-tooltip-value">
                        </div>
                    </div>
                    <p class="text-sm mb-0">Total Messages received</p>
                </div>
            </div>

            <!-- <div
                class="card px-4 py-5 shadow-2 rounded-lg border-gray-200 dark:border-neutral-600 h-full bg-gradient-to-l from-pink-600/10 to-bg-white">
                <div class="card-body p-0">
                    <div class="flex flex-wrap items-center justify-between gap-1 mb-2">
                        <div class="flex items-center gap-2">
                            <span
                                class="mb-0 w-[44px] h-[44px] bg-pink-600 text-white shrink-0 flex justify-center items-center rounded-full h6">
                                <iconify-icon icon="mdi:leads" class="icon"></iconify-icon>
                            </span>
                            <div>
                                <span class="mb-2 font-medium text-secondary-light text-sm">Leads</span>
                                <h6 class="font-semibold">250</h6>
                            </div>
                        </div>

                        <div id="leads-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                    </div>
                    <p class="text-sm mb-0">Increase by <span
                            class="bg-success-100 dark:bg-success-600/25 px-1 py-px rounded font-medium text-success-600 dark:text-success-400 text-sm">+20</span>
                        this week</p>
                </div>
            </div> -->

            <!-- <div
                class="card px-4 py-5 shadow-2 rounded-lg border-gray-200 dark:border-neutral-600 h-full bg-gradient-to-l from-cyan-600/10 to-bg-white">
                <div class="card-body p-0">
                    <div class="flex flex-wrap items-center justify-between gap-1 mb-2">
                        <div class="flex items-center gap-2">
                            <span
                                class="mb-0 w-[44px] h-[44px] bg-cyan-600 text-white shrink-0 flex justify-center items-center rounded-full h6">
                                <iconify-icon icon="streamline:bag-dollar-solid" class="icon"></iconify-icon>
                            </span>
                            <div>
                                <span class="mb-2 font-medium text-secondary-light text-sm">Total Profit</span>
                                <h6 class="font-semibold">$3,00,700</h6>
                            </div>
                        </div>

                        <div id="total-profit-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                    </div>
                    <p class="text-sm mb-0">Increase by <span
                            class="bg-success-100 dark:bg-success-600/25 px-1 py-px rounded font-medium text-success-600 dark:text-success-400 text-sm">+$15k</span>
                        this week</p>
                </div>
            </div> -->
        </div>
    </div>
    <div class="md:col-span-12 2xl:col-span-6">
        <div class="card h-full border-0">
            <div class="card-body p-6">
                <div class="flex items-center flex-wrap gap-2 justify-between mb-5">
                    <h6 class="mb-2 font-bold text-lg">Business Services</h6>
                    <a href="{% url 'markets:get-services' listing.slug %}" class="text-primary-600 dark:text-primary-600 hover-text-primary flex items-center gap-1">
                        View All
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive scroll-sm">
                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Items</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount </th>
                                <th scope="col">Qoute Req</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in listing.services.all %}
                            <tr>
                                <td>
                                    <a href="{{service.get_absolute_url}}" class="flex items-center">
                                        <img src="{% if service.image %}{{service.image.url}}{% else %}{% static 'images/product/product-img1.png' %}{% endif %}"
                                            alt="{{service.title}}"
                                            class="shrink-0 me-3 rounded-lg relative inline-block h-12 w-12">
                                        <div class="grow">
                                            <h6 class="text-base mb-0 font-normal">{{service.title}}</h6>
                                            <span class="text-sm text-secondary-light font-normal">Service</span>
                                        </div>
                                    </a>
                                </td>
                                <td>{{service.price_decription}} : R{{service.price}}</td>
                                <td>
                                    {% if service.discount_percentage %}
                                        {{service.discount_percentage}}%
                                    {% else %}
                                        No Discount
                                    {% endif %}
                                </td>
                                <td>{{service.qoutations.count}}</td>
                                <td >
                                    <a href="{% url 'markets:update-service' service_id=service.id listing_slug=service.business.slug %}"
                                        class="relative py-2 px-4 inline-block items-center justify-center select-none rounded-lg text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                        type="button">
                                        <span class="">
                                            <i class="fa-solid fa-plus text-xl"></i>
                                        </span>
                                    </a>
    
                                    <a href="{% url 'markets:delete-service' service_id=service.id listing_slug=service.business.slug %}"
                                        class="relative py-2 px-4 inline-block items-center justify-center select-none rounded-lg text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                        type="button">
                                        <span class="">
                                            <i class="fa-solid text-red-600 fa-trash text-xl"></i>
    
                                        </span>
                                    </a>
    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}