{% extends '_base.html' %}
{% load static %}


{% block seo_tags %}
<title>{{listing.title}}</title>
<meta name="description" content="{{listing.details|truncatechars:157}}">
<meta name="title" content="{{listing.title}}" />
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="{{listing.title}}" />
<meta property="og:description" content="{{listing.details|truncatechars:157}}" />
{% if listing.background_image %}
<meta property="og:image" content="https://bbgi.co.za{{listing.background_image.url}}" />
{% else %}
<meta property="og:image" content="https://bbgi.co.za{% static 'imgs/logo/logo.jpeg' %}" />
{% endif %}
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta property="twitter:title" content="{{listing.title}}" />
<meta property="twitter:description" content="{{listing.details|truncatechars:157}}" />
{% if listing.background_image %}
<meta property="twitter:image" content="https://bbgi.co.za{{listing.background_image.url}}" />
{% else %}
<meta property="twitter:image" content="https://bbgi.co.za{% static 'imgs/logo/logo.jpeg' %}" />
{% endif %}
{% endblock seo_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
<style>
    .lh-room-details .slick-slider {
        overflow: hidden;
    }

    .lh-room-details .slider-nav .slick-list {
        margin: 0 -12px;
        width: calc(100% + 24px);

    }

    .lh-room-details .slider-nav .slick-slide {
        padding: 0 12px;
    }
</style>
{% endblock styles %}

{% block content %}

<!-- details slider -->
<section class="w-full font-sans relative block bg-custom-h mt-10 ">
    <div class="group overflow-hidden relative">
        <div class="w-full h-full absolute top-0 left-0 bg-custom-h z-50 opacity-50"></div>
        <div class="relative overflow-hidden block">
            <div class="img_box overflow-hidden relative block">
                <div
                    class="overflow-hidden h-[600px] md:h-[560px] bg-custom-h relative block transition-all duration-500 ease-in">
                    {% if listing.background_image %}
                    <img src="{{listing.background_image.url}}"
                        alt="{{listing.title}} background_image by {{listing.owner.get_full_name}}"
                        class="absolute top-1/2 left-1/2 h-full -translate-x-1/2 -translate-y-1/2 w-full transition-all duration-500 ease-in group-hover:scale-105 opacity-50 object-cover">
                    {% else %}
                    <img src="{% static 'imgs/no-image.png' %}" alt="{{listing.title}}"
                        class="absolute top-1/2 left-1/2 h-full -translate-x-1/2 -translate-y-1/2 w-full transition-all duration-500 ease-in group-hover:scale-105 opacity-50 object-cover">
                    {% endif %}
                </div>
                <div class="absolute  z-50 w-full h-fit md:w-8/12 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
                    <div class="w-full h-full px-4">
                        <div class="flex items-center w-full flex-wrap gap-4 justify-between">
                            <div class="space-y-1 ">
                                <div class="w-20 h-20 md:h-36 md:w-36 rounded-lg relative overflow-hidden">

                                    <img src="{% if listing.logo %}{{listing.logo.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}"
                                        alt="{{listing.title}} logo by {{listing.owner.get_full_name}}"
                                        class="absolute top-1/2 bg-custom-primary left-1/2 h-full -translate-x-1/2 -translate-y-1/2 w-full transition-all duration-500 ease-in object-cover">


                                </div>
                                <div class="!text-white w-fit">
                                    <h1 class="text-xl md:text-3xl !text-white font-bold">{{listing.title}}</h1>
                                    {% if listing.slogan %}
                                    <p class="text-xs md:text-base !text-white">{{listing.slogan}}</p>
                                    {% endif %}
                                    <p class="text-xs md:text-base !text-white">B-BBEE {{listing.get_bbbee_level_display}}</p>
                                    <div class="py-2 space-y-1">
                                        <div class="relative flex items-center">
                                            <div class="text-sm text-custom-primary">
                                                <i class="fa-solid fa-location-dot fa-lg font-bold"></i>
                                            </div>
                                            <div class="ml-2">
                                                <p class="text-sm font-normal !text-white">{% if listing.get_full_location %}{{listing.get_full_location}}{% else %}No Location{% endif %}</p>
                                            </div>
                                        </div>

                                        <div class="flex items-center w-full space-x-5">
                                            <div class="relative flex items-center">
                                                <div class="text-sm text-custom-primary">
                                                    <i class="fa-solid fa-phone fa-lg font-bold"></i>
                                                </div>
                                                <div class="ml-2">
                                                    <p class="text-sm font-normal !text-white">{% if listing.phone %}{{listing.phone}}{% if listing.alternate_number %} / {{listing.alternate_number}}{% endif %} {% else %} No Number {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="relative flex items-center">
                                                <div class="text-sm text-custom-primary">
                                                    <i class="fa-solid fa-envelope fa-lg font-bold"></i>
                                                </div>
                                                <div class="ml-2">
                                                    <p class="text-sm font-normal !text-white"><span>{% if listing.phone %}{{listing.email}} {% else %} No Email {% endif %}
                                                        </span></p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="flex items-center w-full space-x-5">
                                            <div class="relative flex items-center">
                                                <div class="text-sm text-custom-primary">
                                                    <i class="fa-regular fa-star fa-lg font-bold"></i>
                                                </div>
                                                <div class="ml-2">
                                                    <p class="text-sm font-normal !text-white">{{listing.get_average_rating|safe}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="relative flex items-center">
                                                <div class="text-sm text-custom-primary">
                                                    <i class="fa-regular fa-comments fa-lg font-bold"></i>
                                                </div>
                                                <div class="ml-2">
                                                    <p class="text-sm font-normal !text-white"><span>{{listing.reviews.count}}
                                                            Reviews</span></p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class=" cursor-pointer rounded-md  text-center !text-white py-2 md:py-3">
                                            <div class="flex items-center w-fit justify-between flex-wrap gap-4">
                                                <span class="text-lg  font-bold !text-white">Share: </span>


                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                                    class="relative !text-white text-sm h-8 w-8 rounded-full grid items-center justify-center font-bold ">
                                                    <i class="fa-brands fa-lg fa-facebook"></i>
                                                </a>
                                                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ listing.title }}"
                                                    class="relative !text-white text-sm h-8 w-8 rounded-full grid items-center justify-center font-bold ">
                                                    <i class="fa-brands fa-lg fa-twitter"></i>
                                                </a>
                                                <a href="https://wa.me/?text={{ listing.title }}%20{{ request.build_absolute_uri }}"
                                                    class="relative !text-white text-sm h-8 w-8 rounded-full grid items-center justify-center font-bold ">
                                                    <i class="fa-brands fa-lg fa-whatsapp"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ listing.title }}&summary={{listing.details|truncatechars:100}}"
                                                    class="relative !text-white text-sm h-8 w-8 rounded-full grid items-center justify-center font-bold ">
                                                    <i class="fa-brands fa-lg fa-linkedin"></i>
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="block">
                                <div class="flex items-center md:gap-5 flex-wrap gap-4">


                                    {% if listing.owner == request.user %}
                                    <a href="{% url 'listings:manage-listing' listing.slug %}"
                                        class="border group hover:bg-custom-h hover:border-custom-h transition-colors duration-300 cursor-pointer border-white text-center !text-white border-solid py-2 md:py-3 px-4 md:px-6">
                                        <div class="relative flex items-center">
                                            <div class="text-sm">
                                                <i class="fa-solid fa-plus fa-xl font-bold"></i>
                                            </div>
                                            <div class="ml-2">
                                                <p class="text-base !text-white font-regular">Manage</p>
                                            </div>
                                        </div>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- product details section -->
<section>
    <div class="container modal-container property-tab pt-[70px] pb-20">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-x-[30px]">
            <!-- details body -->
            <div class="lg:col-start-1 lg:col-span-8">
                <!--  top -->
                <ul class="flex flex-wrap gap-x-[15px] md:gap-x-[35px] gap-y-[15px] items-center mb-[30px]">
                    <li>
                        <ul class="flex gap-x-[15px] md:gap-x-[30px] items-center">
                            <li>
                                <a class="text-xs md:text-sm uppercase !text-white px-[15px] py-4 bg-custom-primary hover:text-white font-semibold"
                                    href="#"><span class="leading-1.8 md:leading-1.8">Featured</span></a>
                            </li>
                            <li>
                                <a class="text-xs md:text-sm uppercase !text-white px-[15px] py-4 bg-custom-h font-semibold hover:text-white"
                                    href="{% url 'listings:get-listings-by-category' listing.category.slug %}"><span
                                        class="leading-1.8 md:leading-1.8">{{listing.category.label}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="flex gap-x-[15px] md:gap-x-[30px] items-center">
                            <li>
                                <p class="text-xs md:text-sm font-semibold">
                                    <span class="leading-1.8 md:leading-1.8"><i
                                            class="fa-regular fa-calendar-alt text-custom-primary mr-[5px]"></i>
                                        {{listing.created}}</span>
                                </p>
                            </li>
                            <li>
                                <a class="text-xs md:text-sm font-semibold" href="#"><span
                                        class="leading-1.8 md:leading-1.8"><i
                                            class="fa-regular fa-comments text-custom-primary mr-[5px]"></i>
                                        {{listing.reviews.count}} Reviews</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- main -->
                <div>
                    <h4 class="text-2xl md:text-[26px] lg:text-3xl xl:text-4xl font-bold text-custom-h mb-[15px]">
                        <span class="leading-1.3 lg:leading-1.3 xl:leading-1.3">{{listing.title}}</span>
                    </h4>
                    <p class="text-sm">
                        <span class="leading-1.8"><i class="fas fa-location-dot text-custom-primary"></i>
                            {{listing.main_address}}</span>
                    </p>
                    <!-- Description -->
                    <h4
                        class="text-[22px] font-semibold leading-1.3 pl-[10px] border-l-2 border-custom-primary text-custom-h my-[30px]">
                        Description
                    </h4>
                    <p class="text-sm lg:text-base my-5">
                        <span class="leading-1.8 lg:leading-1.8">{{listing.details|safe}}</span>
                    </p>


                    <!-- Property Detail -->
                    <h4
                        class="text-[22px] font-semibold leading-1.3 pl-[10px] border-l-2 border-custom-primary text-custom-h my-[30px]">
                        Operating Hours
                    </h4>
                    <div class="mb-[60px]">
                        {% if listing.is_hours %}
                        <ul class="px-[30px] md:px-[50px] py-5 md:pt-[30px] md:pb-10 md:border-r md:border-[#d1dae0]">
                            {% for hour in listing.business_hours.all %}
                            <li class="text-sm mt-4 flex items-center justify-between w-full font-semibold">
                                <span
                                    class="leading-1.8 min-w-[110px] inline-block flex-shrink-0">{{hour.get_day_display}}</span>

                                {% if hour.operating %}
                                <div class="gap-3 flex items-center">
                                    <p class="text-sm font-normal text-gray-500 duration-500 group-hover:text-custom-h">
                                        {{hour.open_time}}
                                    </p>
                                    <span class="text-sm font-normal text-gray-500">-</span>
                                    <p class="text-sm font-normal text-gray-500 duration-500 group-hover:text-custom-h">
                                        {{hour.close_time}}
                                    </p>
                                </div>
                                {% else %}
                                <p class="text-sm font-normal text-red-500 duration-500 group-hover:text-custom-h">
                                    Closed</p>
                                {% endif %}
                            </li>
                            {% endfor %}

                        </ul>
                        {% else %}
                            <p>The Business is <b>{{listing.hours_type}}</b></p>
                        {% endif %}

                    </div>
                    <!-- Facts and Features-->
                    {% if listing.images %}
                    <!-- Gallery -->
                    <h4
                        class="text-[22px] font-semibold leading-1.3 pl-[10px] border-l-2 border-custom-primary text-custom-h my-[30px]">
                        From Our Gallery
                    </h4>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px] mb-[60px]">
                        {% for content in listing.images.all %}
                        <div class="group cursor-pointer relative">
                            <img src="{{content.image.url}}" alt="{{listing.title}}"
                                class="w-full h-48 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <a href="{{content.image.url}}" target="_blank" rel="noopener noreferrer"
                                    class="bg-white text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-200 transition-colors">
                                    View
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}

                    <!-- Location -->
                    {% if listing.map_coordinates %}
                    <h4
                        class="text-[22px] font-semibold leading-1.3 pl-[10px] border-l-2 border-custom-primary text-custom-h my-[30px]">
                        Location
                    </h4>
                    <div class="h-[360px] mb-[60px] overflow-hidden">
                        <div class="google-map-locations-area">
                            <div id="gmap"></div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Customer Reviews -->
                    <h4
                        class="text-[22px] font-semibold leading-1.3 pl-[10px] border-l-2 border-custom-primary text-custom-h my-[30px]">
                        Customer Reviews
                    </h4>
                    <div>
                        <div class="relative flex items-center">
                            <div class="text-sm text-custom-primary">
                                <i class="fa-regular fa-star fa-lg font-bold"></i>
                            </div>
                            <div class="ml-2">
                                <p class="text-sm font-normal">{{listing.get_average_rating|safe}} Average stars
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-[50px] border-t border-[#ededed] opacity-40">
                    <!-- reviews -->
                    <ul class="mb-[20px] w-full">
                        {% for review in listing.reviews.all %}
                        <li class="flex flex-col md:flex-row gap-x-[30px] gap-y-5 pb-[30px]">
                            <div class="flex-shrink-0">
                                <img src="{% if review.commenter.profile_image %}{{review.commenter.profile_image.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}"
                                    alt="{{review.commenter_full_names}}"
                                    class="w-20 h-20 md:w-100px md:h-100px rounded-full">
                            </div>
                            <div class="relative">
                                <h4 class="text-lg text-custom-h font-semibold mb-[5px]">
                                    <a href="#" class="leading-1.3">{{review.commenter_full_names}}</a>
                                </h4>
                                <div>
                                    <ul class="text-xs text-ratings flex items-center pt-[22px] md:pt-0 mb-[10px]">
                                        <li class="pt-2">
                                            <svg class="w-4 h-4 {% if review.rating_value >= 1 %}text-yellow-300{% else %}text-gray-300{% endif %}"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        </li>
                                        <li class="pt-2">
                                            <svg class="w-4 h-4 {% if review.rating_value >= 2 %}text-yellow-300{% else %}text-gray-300{% endif %}"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        </li>
                                        <li class="pt-2">
                                            <svg class="w-4 h-4 {% if review.rating_value >= 3 %}text-yellow-300{% else %}text-gray-300{% endif %}"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        </li>
                                        <li class="pt-2">
                                            <svg class="w-4 h-4 {% if review.rating_value >= 4 %}text-yellow-300{% else %}text-gray-300{% endif %}"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        </li>
                                        <li class="pt-2">
                                            <svg class="w-4 h-4 {% if review.rating_value >= 5 %}text-yellow-300{% else %}text-gray-300{% endif %}"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                                <p class="text-sm mb-5 md:mb-0">
                                    <span class="leading-1.8">{{review.comment}}</span>
                                </p>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>

                    <!-- add reviews -->
                    <form method="post"
                        class="form-primary bg-white-5 shadow-box-shadow-2 px-[25px] pt-10 pb-[50px] md:p-[50px] md:pt-10 mt-5 mb-[60px]">
                        {% csrf_token %}
                        <h4 class="text-[17px] md:text-lg lg:text-xl font-bold text-custom-h mb-5">
                            <span class="leading-1.3 md:leading-1.3 lg:leading-1.3">
                                Add a Review</span>
                        </h4>
                        <div class="flex gap-[15px] items-center mb-[30px]">
                            <h5 class="text-sm md:text-[15px] lg:text-base font-bold text-custom-h mb-0">
                                <span class="leading-1.3 md:leading-1.3 lg:leading-1.3">
                                    Your Ratings:</span>
                            </h5>
                            <div class="flex w-fit mx-auto items-center">
                                <div class="flex space-x-1" id="star-rating">
                                    <svg class="w-6 h-6 text-gray-300 hover:text-custom-h cursor-pointer"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                        data-value="1">
                                        <path
                                            d="M9.049 2.927a1 1 0 011.902 0l1.616 4.95a1 1 0 00.95.69h5.174a1 1 0 01.593 1.809l-4.187 3.048a1 1 0 00-.364 1.118l1.617 4.95a1 1 0 01-1.541 1.118l-4.186-3.048a1 1 0 00-1.176 0l-4.186 3.048a1 1 0 01-1.541-1.118l1.617-4.95a1 1 0 00-.364-1.118L2.3 10.376a1 1 0 01.593-1.809h5.174a1 1 0 00.95-.69l1.616-4.95z">
                                        </path>
                                    </svg>
                                    <svg class="w-6 h-6 text-gray-300 hover:text-custom-h cursor-pointer"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                        data-value="2">
                                        <path
                                            d="M9.049 2.927a1 1 0 011.902 0l1.616 4.95a1 1 0 00.95.69h5.174a1 1 0 01.593 1.809l-4.187 3.048a1 1 0 00-.364 1.118l1.617 4.95a1 1 0 01-1.541 1.118l-4.186-3.048a1 1 0 00-1.176 0l-4.186 3.048a1 1 0 01-1.541-1.118l1.617-4.95a1 1 0 00-.364-1.118L2.3 10.376a1 1 0 01.593-1.809h5.174a1 1 0 00.95-.69l1.616-4.95z">
                                        </path>
                                    </svg>
                                    <svg class="w-6 h-6 text-gray-300 hover:text-custom-h cursor-pointer"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                        data-value="3">
                                        <path
                                            d="M9.049 2.927a1 1 0 011.902 0l1.616 4.95a1 1 0 00.95.69h5.174a1 1 0 01.593 1.809l-4.187 3.048a1 1 0 00-.364 1.118l1.617 4.95a1 1 0 01-1.541 1.118l-4.186-3.048a1 1 0 00-1.176 0l-4.186 3.048a1 1 0 01-1.541-1.118l1.617-4.95a1 1 0 00-.364-1.118L2.3 10.376a1 1 0 01.593-1.809h5.174a1 1 0 00.95-.69l1.616-4.95z">
                                        </path>
                                    </svg>
                                    <svg class="w-6 h-6 text-gray-300 hover:text-custom-h cursor-pointer"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                        data-value="4">
                                        <path
                                            d="M9.049 2.927a1 1 0 011.902 0l1.616 4.95a1 1 0 00.95.69h5.174a1 1 0 01.593 1.809l-4.187 3.048a1 1 0 00-.364 1.118l1.617 4.95a1 1 0 01-1.541 1.118l-4.186-3.048a1 1 0 00-1.176 0l-4.186 3.048a1 1 0 01-1.541-1.118l1.617-4.95a1 1 0 00-.364-1.118L2.3 10.376a1 1 0 01.593-1.809h5.174a1 1 0 00.95-.69l1.616-4.95z">
                                        </path>
                                    </svg>
                                    <svg class="w-6 h-6 text-gray-300 hover:text-custom-h cursor-pointer"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                        data-value="5">
                                        <path
                                            d="M9.049 2.927a1 1 0 011.902 0l1.616 4.95a1 1 0 00.95.69h5.174a1 1 0 01.593 1.809l-4.187 3.048a1 1 0 00-.364 1.118l1.617 4.95a1 1 0 01-1.541 1.118l-4.186-3.048a1 1 0 00-1.176 0l-4.186 3.048a1 1 0 01-1.541-1.118l1.617-4.95a1 1 0 00-.364-1.118L2.3 10.376a1 1 0 01.593-1.809h5.174a1 1 0 00.95-.69l1.616-4.95z">
                                        </path>
                                    </svg>
                                </div>
                                {{form.rating_value}}
                            </div>
                        </div>
                        <div class="mb-4 w-fit mx-auto">
                            <p id="review-text" class="text-custom-h font-medium text-xl">

                            </p>
                        </div>
                        <div class="grid gap-[30px] mb-[35px]">
                            <!-- message -->
                            <div class="relative mb-2">
                                {{form.comment}}
                                <span class="absolute top-[30px] -translate-y-1/2 right-4">
                                    <i
                                        class="fa-solid fa-pencil text-sm lg:text-base text-custom-primary font-bold"></i>
                                </span>
                            </div>
                            <!-- name -->
                            <div class="relative">
                                {{form.comment_title}}
                                <span class="absolute top-1/2 -translate-y-1/2 right-4">
                                    <i
                                        class="fa-solid fa-pencil text-sm lg:text-base text-custom-primary font-bold"></i>
                                </span>
                            </div>
                            <!-- email -->
                            <div class="relative">
                                {{form.commenter_full_names}}
                                <span class="absolute top-1/2 -translate-y-1/2 right-4">
                                    <i class="fa-solid fa-user text-sm lg:text-base text-custom-primary font-bold"></i>

                                </span>
                            </div>

                            <!-- website -->
                            <div class="relative">
                                {{form.commenter_email}}
                                <span class="absolute top-1/2 -translate-y-1/2 right-4">
                                    <i
                                        class="fa-solid fa-envelope text-sm lg:text-base text-custom-primary font-bold"></i>
                                </span>
                            </div>
                        </div>
                        <!-- agree -->
                        <div class="text-sm flex items-center mb-[35px]">
                            <input type="checkbox" id="agree">
                            <label for="agree" class="text-sm ml-1">
                                Save my name, email, and website in this browser for the
                                next time I comment.
                            </label>
                        </div>

                        <!-- submit button -->

                        <div>
                            <h5
                                class="uppercase text-sm md:text-base !text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-custom-primary hover:border-custom-h inline-block z-0">
                                <span
                                    class="inline-block absolute top-0 right-0 w-full h-full bg-custom-primary group-hover:bg-black -z-1 group-hover:w-0 transition-all duration-300"></span>
                                <button type="submit"
                                    class="relative z-1 px-5 md:px-[25px] lg:px-10 py-[10px] md:py-[15px] lg:py-[17px] group-hover:text-custom-h leading-23px uppercase">
                                    Submit
                                </button>
                            </h5>
                        </div>
                    </form>

                    <!-- Related Properties -->

                </div>
            </div>
            <!-- sidebar -->
            <div class="lg:col-start-9 lg:col-span-4 pt-[60px] lg:pt-0">
                <!-- author details -->
                <!-- Popular Properties-->
                <div class="px-5 pt-[35px] pb-10 xl:pl-[35px] xl:pr-[30px] mb-10 border-2 border-[#ededed]">
                    <h4 class="text-lg font-semibold text-custom-h mb-[25px]">
                        <span class="leading-1.3 pl-[10px] border-l-2 border-custom-primary">Listing Services</span>
                    </h4>

                    {% if listing.services.count == 0 %}
                    <div>
                        <p class="text-custom-text">Sorry, This Business Currently Don't have services listed</p>
                    </div>
                    {% else %}
                    <div class="news-slider-container swiper-container relative -mx-[15px]">
                        <!-- apartment cards  -->
                        <div class="swiper popular-properties-slider static">
                            <div class="swiper-wrapper">
                                <!-- card 1 -->



                                {% for service in listing.services.all %}
                                <div class="swiper-slide mb-[50px] cursor-default">
                                    <div class="apart-card px-[15px]">
                                        <div class="group border border-[#f1f8ff] shadow-box-shadow-4">
                                            <!-- card thumbs -->
                                            <div class="relative leading-1">
                                                <a href="{{service.get_absolute_url}}" class="overflow-hidden">
                                                    <img src="{% if service.image %}{{service.image.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}"
                                                        class="w-full group-hover:scale-110 h-64 transition-all duration-700"
                                                        alt="{{service.title}} image">
                                                </a>

                                                <div class="absolute top-10 lg:top-5 right-[30px]">
                                                    <a href="{{listing.get_absolute_url}}"
                                                        class="w-10 h-10 overflow-hidden"><img
                                                            src="{% if listing.logo %}{{listing.logo.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}"
                                                            alt="{{listing.title}} logo"
                                                            class="w-10 h-10 rounded-[100%] group-hover:scale-110 border-[3px] border-[#e5eaee] transition-all duration-300"></a>
                                                </div>
                                            </div>
                                            <!-- card body -->
                                            <div class="p-[25px]">
                                                <h5
                                                    class="text-lg flex text-custom-primary items-center font-semibold mb-[5px]">
                                                    <span class="leading-1.8">R{{service.price}}</span>
                                                    <label class="text-sm font-normal"> /
                                                        {{service.price_decription}}</label>
                                                </h5>
                                                <h4 class="text-base font-semibold text-custom-h mb-[15px]">
                                                    <a href="{{service.get_absolute_url}}"
                                                        class="hover:text-custom-primary leading-1.3">{{service.title}}</a>
                                                </h4>

                                                <ul class="pt-4">
                                                    <li>
                                                        <p class="leading-1.8 font-bold text-xs">

                                                            <span
                                                                class="font-normal">{{service.description|slice:":140"}}</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>

                            <!-- pagination -->
                            <div
                                class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal !-bottom-[6px] block">
                                <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                    aria-label="Go to slide 1"></span><span
                                    class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                    role="button" aria-label="Go to slide 2" aria-current="true"></span><span
                                    class="swiper-pagination-bullet" tabindex="0" role="button"
                                    aria-label="Go to slide 3"></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="px-5 pt-[35px] pb-10 xl:pl-[35px] xl:pr-[30px] mb-10 border-2 border-[#ededed]">
                    <h4 class="text-lg font-semibold text-custom-h mb-[25px]">
                        <span class="leading-1.3 pl-[10px] border-l-2 border-custom-primary">Other Locations</span>
                    </h4>
                    <ul class="grid gap-4 pt-4">
                        {% for address in listing.business_locations.all %}
                        <li>
                            <a href=""
                                class="text-sm lg:text-base w-full py-2 px-2 bg-[rgb(242_246_247_/_1)] hover:bg-custom-primary hover:text-white flex items-center">
                                <i class="fa-solid fa-location-dot"></i>
                                <span class="ml-2">{{address.address}}</span></a>
                        </li>
                        {% endfor %}


                    </ul>
                </div>

                <!-- Follow Us -->
                <div class="px-5 pt-[35px] pb-10 xl:pl-[35px] xl:pr-[30px] mb-10 border-2 border-[#ededed]">
                    <h4 class="text-lg font-semibold text-custom-h mb-[25px]">
                        <span class="leading-1.3 pl-[10px] border-l-2 border-custom-primary">Follow Us</span>
                    </h4>
                    <ul class="flex gap-x-[15px] pt-4">
                        {% if listing.website %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{listing.website}}"
                                class="text-sm lg:text-base w-10 h-10 bg-[rgb(242_246_247_/_1)] hover:bg-custom-primary hover:text-white flex items-center justify-center"><i
                                    class="fab fa-globe"></i></a>
                        </li>
                        {% endif %}
                        {% if listing.facebook %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{listing.facebook}}"
                                class="text-sm lg:text-base w-10 h-10 bg-[rgb(242_246_247_/_1)] hover:bg-custom-primary hover:text-white flex items-center justify-center"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        {% endif %}
                        {% if listing.twitter %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{listing.twitter}}"
                                class="text-sm lg:text-base w-10 h-10 bg-[rgb(242_246_247_/_1)] hover:bg-custom-primary hover:text-white flex items-center justify-center"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        {% endif %}
                        {% if listing.linkedin %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{listing.linkedin}}"
                                class="text-sm lg:text-base w-10 h-10 bg-[rgb(242_246_247_/_1)] hover:bg-custom-primary hover:text-white flex items-center justify-center"><i
                                    class="fab fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                        {% if listing.instagram %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{listing.instagram}}"
                                class="text-sm lg:text-base w-10 h-10 bg-[rgb(242_246_247_/_1)] hover:bg-custom-primary hover:text-white flex items-center justify-center"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block js %}
<script>


    const stars = document.querySelectorAll('#star-rating svg');
    const ratingValueInput = document.getElementById('id_rating_value');
    const review_text = document.getElementById('review-text');

    stars.forEach((star, index) => {
        star.addEventListener('click', () => {
            const rating = index + 1;
            ratingValueInput.value = rating;
            console.log(ratingValueInput.value)

            // Reset all stars
            stars.forEach((s, i) => {
                if (i < rating) {
                    s.classList.remove('text-gray-300');
                    s.classList.add('text-custom-h');
                } else {
                    s.classList.remove('text-custom-h');
                    s.classList.add('text-gray-300');
                }
            });

            if (index === 0) {
                review_text.textContent = "Bad! Never Again."
            } else if (index === 1) {
                review_text.textContent = "Not bad, needs improvement"
            } else if (index === 2) {
                review_text.textContent = "It is okay."
            } else if (index === 3) {
                review_text.textContent = "It's really good"
            } else if (index === 4) {
                review_text.textContent = "Again? A big yes!"
            } else {
                review_text.textContent = ""
            }
        });


    });

    stars.forEach((star, index) => {


        start.addEventListener('hover', () => {
            if (index == 0) {
                review_text.textContent = "Bad! Never Again."
            }
        })
    });

</script>

<script src="{% static 'js/maplace.js' %}"></script>
<script>
    const coordinatesInput = '{{listing.map_coordinates}}';
    const coordinates = coordinatesInput.split(',');
    const latitude = parseFloat(coordinates[0]);
    const longitude = parseFloat(coordinates[1]);
    const locations = JSON.parse('{{locations|escapejs}}')

    
    $(function () {
        var LocsA = [
            
            {
                lat: latitude,
                lon: longitude,
                title: "{{listing.title}}",
                html: [
                    '<div class="map-product-item">',
                    `<a href="#"><img src="{% if listing.logo %}{{listing.logo.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}" alt="{{listing.title}} logo" class='h-52 w-full bg-custom-primary object-fit'></a>`,
                    '<h5 class="ltn__map-product-title"><a href="#">{{listing.title}}</a></h5>',
                    '<p class="ltn__map-product-info"><span>{{listing.slogan}}</span></p>',
                    '<p class="ltn__map-product-location"><i class="flaticon-pin"></i>{{listing.main_address}}</span>',
                    "</div>",
                ].join(""),
                // icon: "../assets/img/icons/map-marker-2.png",
                animation: google.maps.Animation.BOUNCE,
            },
            ...locations.map((location, index) => {
                if(location.map_coordinates){
                    const [latitude, longitude] = location.map_coordinates.split(',');

                    return {
                        lat: parseFloat(latitude),
                        lon: parseFloat(longitude),
                        title: `{{listing.title}} location ${index}`,
                        html: [
                            '<div class="map-product-item">',
                            `<a href="#"><img src="{% if listing.logo %}{{listing.logo.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}" alt="{{listing.title}} logo" class='h-52 w-full bg-custom-primary object-fit'></a>`,
                            '<h5 class="ltn__map-product-title"><a href="#">{{listing.title}}</a></h5>',
                            '<p class="ltn__map-product-info"><span>{{listing.slogan}}</span></p>',
                            `<p class="ltn__map-product-location"><i class="fa-solid fa-placeholder-pin"></i>${location.address}</p>`,
                            "</div>",
                        ].join(""),
                        // icon: "../assets/img/icons/map-marker-2.png",
                        animation: google.maps.Animation.BOUNCE,
                    };
                }
                
            })
            

        ];
        new Maplace({
            locations: LocsA,
            show_markers: true,
            controls_on_map: true,
            map_options: {
                zoom: 13,
                scrollwheel: false,
                stopover: true,
            },
            stroke_options: {
                strokeColor: "#f10",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#f10",
                fillOpacity: 0.4,
            },
        }).Load();
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD5_FEFwr5YQFY6SBGyE1RcqNgL_bvyYI"></script>

{% endblock js %}