{% load static %}
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn !mt-4">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="{% url 'bbgi_home:bbgi-home' %}" class="sidebar-logo">
            <img src="{% static 'images/logo.png' %}" alt="site logo" class="light-logo">
            <img src="{% static 'images/logo-light.png' %}" alt="site logo" class="dark-logo">
            <img src="{% static 'imgs/favicon-32x32.png' %}" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu list-none p-0" id="sidebar-menu">
            <li>
                <a href="{% url 'events:manage-event' event.slug %}">
                    <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                    <span>Dashboard</span>
                </a>

            </li>
            <li class="sidebar-menu-group-title">Event</li>
            <li>
                <a href="{% url 'events:generate-guest-list' event_id=event.id %}">
                    <iconify-icon icon="solar:bill-list-broken" class="menu-icon"></iconify-icon>
                    <span>Guest List</span>
                </a>
            </li>
            <!-- <li>
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:calendar-outline" class="menu-icon"></iconify-icon>
                    <span>Bookings</span>
                </a>n name:
                solar:bill-list-broken
            </li> -->
            <li>
                <a href="{% url 'events:ticket-orders' event.id %}">
                    <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                    <span>Ticket Orders</span>
                </a>
            </li>
            


            <li class="sidebar-menu-group-title">Settings</li>

            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:document-text-outline" class="menu-icon"></iconify-icon>
                    <span>Edit Details</span>
                </a>
                <ul class="sidebar-submenu list-none p-0">
                    <li>
                        <a href="{% url 'events:update-event' event.slug %}"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i>
                            Edit Details</a>
                    </li>
                    <li>
                        <a href="{% url 'events:add-event-content' event_slug=event.slug %}"><i
                                class="ri-circle-fill circle-icon text-warning-600 w-auto"></i>
                            Edit Images</a>
                    </li>
                    <li>
                        <a href="{% url 'events:create-ticket-types' event_id=event.id %}"><i
                                class="ri-circle-fill circle-icon text-success-600 w-auto"></i>
                            Add Ticket</a>
                    </li>
                    

                </ul>
            </li>
            <!-- <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="heroicons:document" class="menu-icon"></iconify-icon>
                    <span>Event Progress</span>
                </a>
                <ul class="sidebar-submenu list-none p-0">
                    <li>
                        <a href="javascript:void(0)"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Add Progress</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i
                                class="ri-circle-fill circle-icon text-warning-600 w-auto"></i>
                            Add Service</a>
                    </li>

                </ul>
            </li> -->
            
            <!-- <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
                    <span>Organisors</span>
                </a>
                <ul class="sidebar-submenu list-none p-0">
                    <li>
                        <a href="javascript:void(0)"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i>
                            Members</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="ri-circle-fill circle-icon text-warning-600 w-auto"></i>
                            Add Manager</a>
                    </li>

                </ul>
            </li> -->


            <li class="sidebar-menu-group-title">Application</li>

            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="simple-line-icons:vector" class="menu-icon"></iconify-icon>
                    <span>Authentication</span>
                </a>
                <ul class="sidebar-submenu list-none p-0">
                    <li>
                        <a href="{% url 'accounts:logout' %}"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Logout</a>
                    </li>


                </ul>
            </li>

        </ul>
    </div>
</aside>