{% load static %}

<header x-data="{isMobileNav: false, isdropdownNavbar: false, iscategories: false }" class="w-full  font-sans fixed z-[600] top-0 bg-custom-bg left-0">
    <nav class="w-full relative block">
        <div class="flex items-center container justify-between py-2">
            <a href="{% url 'bbgi_home:bbgi-home' %}" class="logo w-36 overflow-hidden h-full">
                <img src="{% static 'imgs/logo_3.png' %}" alt="BBGI logo" class="object-cover">
            </a>
            <ul class="items-center w-fit bg-transparent gap-2 hidden md:flex">
                <li>
                    <a href="{% url 'bbgi_home:bbgi-home' %}"
                        class="px-1 py-2 mx-1  {% if request.resolver_match.url_name == 'bbgi-home' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">Home</a>
                </li>
                <li>
                    <a href="{% url 'bbgi_home:about-bbgi' %}"
                        class="px-1 py-2 mx-1 {% if request.resolver_match.url_name == 'about-bbgi' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">About</a>
                </li>
                <li>
                    <a href="{% url 'listings:listings' %}"
                        class="px-1 py-2 mx-1 {% if request.resolver_match.url_name == 'listings' or request.resolver_match.url_name == 'get-listings-by-category' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">Listings</a>
                </li>
                <li>
                    <a href="{% url 'events:events' %}"
                        class="px-1 py-2 mx-1 {% if request.resolver_match.url_name == 'events' or request.resolver_match.url_name == 'events-by-category' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">Events</a>
                </li>
                <li>
                    <a href="{% url 'campaigns:campaigns' %}"
                        class="px-1 py-2 mx-1 {% if request.resolver_match.url_name == 'campaigns' or request.resolver_match.url_name == 'campaign-by-category' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">Campaigns</a>
                </li>
                
                <li>
                    <a href="{% url 'bbgi_home:contact' %}"
                        class="px-1 py-2 mx-1 {% if request.resolver_match.url_name == 'contact' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">Contact</a>
                </li>
                
            </ul>
            <div class="flex w-fit items-center text-white space-x-9">
                {% if request.user.is_authenticated %}
                <div id="profile">
                    
                        <div class="w-fit flex items-center space-x-5">
                            <div x-data="{ isOpen: false }" class="relative inline-block ">
                                
                                <button @click="isOpen = !isOpen"
                                    class="relative z-10 flex items-center w-10 h-10 rounded-full   bg-white border border-transparent focus:border-blue-500 focus:ring-opacity-40  focus:ring-blue-300  focus:ring  focus:outline-none">
                                    {% if request.user.profile_image %}
                                    <div class="text-white rounded-full overflow-hidden">
                                        <img src="{{request.user.profile_image.url}}" alt="{{request.user.get_full_name}}"
                                            class="w-10 h-10 rounded-full object-cover">
                                    </div>
                                    {% else %}
                                    <div href="{% url 'bbgi_home:dashboard' %}" class="text-white rounded-full overflow-hidden">
                                        <i class="fa-solid fa-user fa-xl"></i>
                                    </div>
                                    {% endif %}
                        
                                </button>
                        
                                
                                <div x-cloak x-show="isOpen" @click.away="isOpen = false" x-transition:enter="transition ease-out duration-100"
                                    x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100"
                                    x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 scale-100"
                                    x-transition:leave-end="opacity-0 scale-90"
                                    class="absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-xl ">
                                    <a href="{% url 'accounts:user-details' request.user.username %}"
                                        class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-300 transform  hover:bg-gray-100 ">
                                        {% if request.user.profile_image %}
                                        <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                                            src="{{request.user.profile_image.url}}" alt="{{request.user.get_full_name}} avatar">
                                        {% else %}
                                        <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                                            src="{% static 'images/global/no-image-available.webp' %}"
                                            alt="{{request.user.get_full_name}} avatar">
                                        {% endif %}
                                        <div class="mx-1 w-full">
                                            <h5 class="text-sm font-semibold text-gray-700 ">
                                                {{request.user.get_full_name}}</h5>
                                            <p class="text-sm text-gray-500 ">
                                                {{request.user.get_username}}
                                            </p>
                                        </div>
                                    </a>
                        
                                    <hr class="border-gray-200  ">
                        
                                    <a href="{% url 'bbgi_home:dashboard' %}"
                                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100 ">
                                        Dashboard
                                    </a>
                                    <a href="{% url 'accounts:contact-update' %}"
                                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100 ">
                                        Settings
                                    </a>
                        
                        
                                    {% if request.user.is_superuser or request.user.is_staff %}
                        
                                    <a href="{% url 'admin:index' %}"
                                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100">
                                        Admin
                                    </a>
                                    {% endif %}
                        
                        
                                    <hr class="border-gray-200  ">
                        
                                    <a href="{% url 'campaigns:create-campaign' %}"
                                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100">
                                        Add Campaign
                                    </a>
                        
                                    <a href="{% url 'events:create-event' %}"
                                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100">
                                        Add Event
                                    </a>
                        
                                    <hr class="border-gray-200  ">
                        
                                    <a href="{% url 'accounts:logout' %}"
                                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100">
                                        Sign Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    
                </div>
                {% else %}
                <div class="hidden lg:block profile">
                    <p>
                        <a href="{% url 'accounts:login' %}"
                            class="px-1 py-2 mx-1 {% if request.resolver_match.url_name == 'login' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} transition-colors duration-300 transform text-base font-medium lg:mt-0 hover:text-custom-primary hover:border-b hover:border-b-custom-primary">Register / Login</a>
                    </p>
                </div>
                <div id="profile" class="block lg:hidden">
                
                    <div class="w-fit flex items-center space-x-5">
                        <div x-data="{ isOpen: false }" class="relative inline-block ">
                
                            <button @click="isOpen = !isOpen"
                                class="relative z-10 flex items-center w-10 h-10 rounded-full   bg-white border border-transparent focus:border-blue-500 focus:ring-opacity-40  focus:ring-blue-300  focus:ring  focus:outline-none">
                                
                                <div href="{% url 'accounts:login' %}" class="text-white rounded-full overflow-hidden">
                                    <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" src="{% static 'imgs/R.png' %}" alt="User avatar">
                                </div>
                                
                
                            </button>
                
                
                            <div x-cloak x-show="isOpen" @click.away="isOpen = false"
                                x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0 scale-90"
                                x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-100"
                                x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90"
                                class="absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-xl ">
                                <a href="{% url 'accounts:login' %}"
                                    class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-300 transform  hover:bg-gray-100 ">
                                    
                                    <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                                        src="{% static 'imgs/R.png' %}"
                                        alt="User avatar">
                                    
                                    <div class="mx-1 w-full">
                                        <h5 class="text-sm font-semibold text-gray-700 ">
                                            User</h5>
                                        <p class="text-sm text-gray-500 ">
                                            login/register
                                        </p>
                                    </div>
                                </a>
                
                                <hr class="border-gray-200  ">
                
                                <a href="{% url 'accounts:login' %}"
                                    class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100">
                                    Sign In
                                </a>
                                <a href="{% url 'accounts:register' %}"
                                    class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform  hover:bg-gray-100">
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                
                </div>

                {% endif %}
                
                <a href="{% if request.user.is_authenticated and request.user.is_paid %}{% url 'listings:add-listing' %}{% else %}{% url 'listings:get-started-with-listing' %}{% endif %}" id="add-listing w-full">
                    <span href="" class="text-custom-h md:hidden  w-full">
                        <i class="fa-solid fa-plus fa-lg"></i>
                    </span>
                    <span class="hidden w-36 h-12 font-semibold md:grid justify-center items-center rounded-sm text-white bg-custom-h">
                        
                        Add Listing
                    </span>
                </a>
                
                <div @click="isMobileNav = !isMobileNav" class="cursor-pointer block md:hidden">
                    <i class="fa-solid text-custom-h fa-bars fa-xl"></i>
                </div>
            </div>
        </div>
        <div x-cloak x-show="isMobileNav" x-transition:enter="transition ease-in-out duration-300 transform"
            x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
            x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0"
            x-transition:leave-end="translate-x-full" class="fixed z-50 right-0 border grid top-0 w-full h-screen overflow-hidden bg-[#24231f7b]">
            <div class="relative transition-all delay-200 duration-500 block p-5 self-end justify-self-end w-full md:w-72 h-full bg-white">
                <div class="block absolute cursor-pointer -left-11 top-4">
                    <i class="fa-solid fa-x fa-xl text-white"></i>
                </div>
                <div @click="isMobileNav = !isMobileNav" class="md:hidden cursor-pointer absolute right-4 top-4">
                    <i class="fa-solid fa-x fa-xl text-black"></i>
                </div>
                <div class="space-y-3 mt-6 md:mt-0" >
                    <a href="{% url 'bbgi_home:bbgi-home' %}" class="py-3 px-2 w-full font-normal font-sans {% if request.resolver_match.url_name == 'bbgi-home' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %}">Home</a>
                    <a href="{% url 'bbgi_home:about-bbgi' %}" class="{% if request.resolver_match.url_name == 'about-bbgi' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2  font-normal font-sans block">About Us</a>
                    <a href="{% url 'listings:listings' %}" class="{% if request.resolver_match.url_name == 'listings' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2  font-normal font-sans block">Listings</a>
                    <a href="{% url 'events:events' %}" class="{% if request.resolver_match.url_name == 'events' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2  font-normal font-sans block">Events</a>
                    <a href="{% url 'campaigns:campaigns' %}" class="{% if request.resolver_match.url_name == 'campaigns' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2  font-normal font-sans block">Campaigns</a>
                    <a href="{% url 'bbgi_home:blogs' %}" class="{% if request.resolver_match.url_name == 'blogs' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2  font-normal font-sans block">Blog</a>
                    <a href="{% url 'bbgi_home:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2  font-normal font-sans block">Contact</a>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'accounts:login' %}"
                        class="{% if request.resolver_match.url_name == 'login' %}text-custom-primary border-b border-b-custom-primary{% else %}text-custom-h{% endif %} py-3 px-2 font-normal font-sans block">Login / Register</a>
                    
                    {% endif %}
                    </div>
            </div>
        </div>
    </nav>
</header>