{% extends '_base.html' %}
{% load static %}

{% block content %}
<section class="w-full font-sans mb-20">

    <div class="container">
        <div class="max-w-xl mx-auto px-4 py-10">
            <div>
                <div class="bg-white rounded-lg p-10 flex items-center shadow justify-between">
                    <div class="text-center space-y-4">
                        <div>
                            <i class="fa-solid fa-heart-circle-check text-6xl"></i>
                        </div>
                        <h2 class="text-2xl mb-4 text-custom-h text-center font-bold">Password Reset Success</h2>

                        <div class="text-custom-text mb-8">
                            To change your BBGI account password, we first need to verify your account. Check your inbox.
                            If you haven't received
                            it, please check your spam folder.
                        </div>
                        <div>
                            <h5
                                class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border bg-secondary-color border-secondary-color hover:border-primary-color hover:bg-primary-color inline-block z-0">
                                <a href="{% url 'accounts:login' %}" type="submit"
                                    class="relative z-1 px-[30px] lg:px-10 py-3 md:py-[15px] lg:py-[17px] group-hover:text-white leading-[23px] uppercase h">
                                    SIGN IN
                                </a>
                            </h5>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}