{% extends '_base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
{% endblock styles %}
{% block content %}
<section class="w-full font-sans relative pt-20 block bg-custom-bg">
    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 "></div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                <div class="absolute inset-0">
                    <img class="h-full w-full object-cover"
                        src="{% static 'imgs/home.jpg' %}"
                        alt="People working on laptops">
                    <div class="absolute inset-0 bg-gradient-to-r from-gray-900 to-gray-800 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                        <span class="block text-white">BBGI</span>
                        <span class="block text-indigo-200">Empowering Black Business</span>
                    </h1>
                    <p class="mt-6 max-w-lg mx-auto text-center text-base text-indigo-200 sm:max-w-3xl">The Black Business Growth Initiative supports Black African businesses and careers by providing a unified platform for
                    entrepreneurs and professionals to showcase their expertise and promote unity and cooperation.</p>
                    <div class="mt-10 w-full overflow-hidden mx-auto sm:flex sm:justify-center relative">
                        <form method="get" action="{% url 'bbgi_home:search' %}" class="flex flex-wrap overflow-hidden bg-white p-3 shadow-lg rounded-xl gap-2 items-center">
                            <div class="relative">
                                <div class="flex bg-white items-center gap-1 text-custom-h">
                                    <div>
                                        <i class="fa-solid text-custom-h fa-search fa-lg md:fa-xl"></i>
                                    </div>
                                    <input id="search-service-input" class="border-none w-full h-14 text-sm md:text-base font-medium focus:ring-0 text-custom-h outline-none focus:outline-none focus:border-none"
                                        style="padding-right:50px" type="text" name="query"
                                        placeholder="Doctors,  plumbers,  beauty salons..." value=""></div>
                            </div>
                            <div class="w-[1px] h-full bg-custom-h mx-1 hidden md:block"></div>
                            <div class="relative">
                                <div class="flex bg-white items-center gap-1 text-custom-h">
                                    <div>
                                        <i class="fa-solid text-custom-h fa-location-dot fa-lg md:fa-xl"></i>
                                    </div><input placeholder="eg. Southdowns" class="border-none w-full h-14 text-sm md:text-base font-medium focus:ring-0 text-custom-h outline-none focus:outline-none focus:border-none" style="padding-right:50px" type="text"
                                        name="place" value=""></div>
                            </div>
                            <button type="submit" value="submit" class="text-white bg-custom-h h-12 w-full md:w-fit p-4 text-center grid items-center justify-center rounded-md mt-2 md:mt-0">
                                <svg width="13" height="15"
                                    viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 6.68359C1 8.00968 1.52678 9.28145 2.46447 10.2191C3.40215 11.1568 4.67392 11.6836 6 11.6836C7.32608 11.6836 8.59785 11.1568 9.53553 10.2191C10.4732 9.28145 11 8.00968 11 6.68359C11 5.35751 10.4732 4.08574 9.53553 3.14806C8.59785 2.21038 7.32608 1.68359 6 1.68359C4.67392 1.68359 3.40215 2.21038 2.46447 3.14806C1.52678 4.08574 1 5.35751 1 6.68359V6.68359Z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M12 13.6836L9 10.6836" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </form>
                        <div class="absolute hidden top-full left-0 w-full bg-white shadow-lg rounded-xl p-4">
                            <button class="text-custom-h font-medium">
                                Use my current location</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-custom-bg">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
            <p class="text-center text-sm font-semibold uppercase text-gray-500 tracking-wide">Trusted by over 5 very
                average small businesses</p>
            <div class="mt-6 grid grid-cols-2 justify-center gap-8 md:grid-cols-6 lg:grid-cols-5">
                <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                    <img class="h-12" src="{% static 'imgs/team/img1.png' %}" alt="GoldOurs">
                </div>
                <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                    <img class="h-12" src="{% static 'imgs/team/img2.png' %}" alt="SMTAX">
                </div>
                <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                    <img class="h-12" src="{% static 'imgs/team/img3.png' %}" alt="Noble">
                </div>
                <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
                    <img class="h-12" src="{% static 'imgs/team/img4.png' %}" alt="Drink Nil">
                </div>
                <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
                    <img class="h-12" src="{% static 'imgs/team/img5.png' %}" alt="Personal trust">
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="w-full py-20 relative block font-sans bg-white">
    <div class="container grid md:grid-cols-2 gap-16 items-center">
        <figure class="h-full w-full md:w-[400px] lg:w-[500px] rounded-md relative">
            <img src="{% static 'imgs/home_3.jpg' %}" alt="BBGI Team" class="w-full h-full rounded-2xl object-cover">
            <img src="{% static 'imgs/home_4.jpg' %}" alt="BBGI Team" class="absolute bottom-9 w-80 rounded-2xl -left-5">
        </figure>
        <div class="">
            <p class="text-custom-primary mb-5 font-semibold text-lg">About Us</p>
            <h4 class="text-4xl mb-5 text-custom-h font-bold">The Leading Business Growth Initiative In Cape Town</h4>
            <p class="text-custom-text mb-6 text-base font-normal">
                The Black Business Growth Initiative supports Black African businesses and careers by providing a unified platform for
                entrepreneurs and professionals to showcase their expertise and promote unity and cooperation.
            </p>
            <ul class="grid grid-cols-2 mb-6 gap-4">
            
                <li class="flex items-center gap-3">
                    <div class="w-11 h-11 grid rounded-full place-items-center bg-[#c2a6404d]">
                        <i class="fa-solid fa-hand-holding-hand text-custom-primary"></i>
                    </div>
            
                    <p class="text-custom-text font-normal text-base">Support Black Businesses</p>
                </li>
            
                <li class="flex items-center gap-3">
                    <div class="w-11 h-11 grid rounded-full place-items-center bg-[#c2a6404d]">
                        <i class="fa-solid fa-hand-holding-hand text-custom-primary"></i>
                    </div>
            
                    <p class="text-custom-text font-normal text-base">Showcase Expertise</p>
                </li>
            
                <li class="flex items-center gap-3">
                    <div class="w-11 h-11 grid rounded-full place-items-center bg-[#c2a6404d]">
                        <i class="fa-solid fa-hand-holding-hand text-custom-primary"></i>
                    </div>
            
                    <p class="text-custom-text font-normal text-base">Promote Unity</p>
                </li>
            
                <li class="flex items-center gap-3">
                    <div class="w-11 h-11 grid rounded-full place-items-center bg-[#c2a6404d]">
                        <i class="fa-solid fa-hand-holding-hand text-custom-primary"></i>
                    </div>
            
                    <p class="text-custom-text font-normal text-base">Foster Cooperation</p>
                </li>
            
            </ul>
            <p class="text-custom-text mb-6 text-sm font-regular py-5 px-6 border-l-4 bg-[#c2a6404d] border-l-custom-primary border-l-solid">
                "BBGI's expertise in optimizing our business listings has significantly boosted our online visibility."
            </p>
            <div>
                <a href="{% url 'bbgi_home:about-bbgi' %}">
                    <h5
                        class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-custom-primary hover:border-custom-h inline-block z-0">
                        <span
                            class="inline-block absolute top-0 right-0 w-full h-full bg-custom-primary group-hover:bg-black -z-1 group-hover:w-0 transition-all duration-300"></span>
                        <div
                            class="relative z-1 px-[30px] lg:px-10 py-3 md:py-[15px] lg:py-[17px] group-hover:text-custom-h leading-1.5 uppercase">
                            <p>Read more</p>
                        </div>
                    </h5>
                </a>
            </div>
            
        </div>
    </div>
</section>
<section class="w-full font-sans relative py-20 block bg-custom-bg">
    <div class="container">
        <div class="text-center mb-5">
            <p class="text-custom-primary mb-3 font-semibold text-lg">About Us</p>
            <h4 class="text-4xl text-custom-h font-bold">Our Main Goal</h4>
        </div>
        <div class="swiper-2 overflow-hidden">
            <di class="service-list my-5 bg-custom-bg swiper-wrapper">
                <div class="swiper-slide">
                    <div class="p-[50px] col:p-[30px_25px] shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="text-center">
                            <div
                                class="w-[120px] h-[120px] leading-[120px] bg-[#f5f5f5] text-center mx-auto mb-[30px] text-[50px] rounded-[50%]">
                                <i class="fa-solid fa-business-time text-custom-primary"></i>
                            </div>
                            <h2 class="text-[#14212b] text-[30px] font-bold mb-[20px] xl:text-[25px] col:text-[25px]">
                                Business Listing</h2>
                            <p class=" text-[#6e6e6e]">Our business/shops listing service offers a dedicated space for Black African business owners to showcase their products
                            and services.</p>
                            <a href="{% if request.user.is_authenticated and request.user.is_paid %}{% url 'listings:add-listing' %}{% else %}{% url 'listings:get-started-with-listing' %}{% endif %}"
                                class="inline-block transition-all duration-300 p-[10px_35px] pr-[45px] text-custom-primary border-[1px] border-custom-primary
                                                                            relative rounded-[6px] mt-[20px] uppercase before:absolute before:right-[20px]
                                                                            before:top-[51%] before:content-['\f103'] before:font-['Flaticon']
                                                                            before:-translate-y-1/2 hover:bg-custom-primary hover:text-white">Add Listing</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="p-[50px] col:p-[30px_25px] shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="text-center">
                            <div
                                class="w-[120px] h-[120px] leading-[120px] bg-[#f5f5f5] text-center mx-auto mb-[30px] text-[50px] rounded-[50%]">
                                <i class="fa-solid fa-magnifying-glass-dollar text-custom-primary"></i>
                            </div>
                            <h2 class="text-[#14212b] text-[30px] font-bold mb-[20px] xl:text-[25px] col:text-[25px]">
                                Fundraise Listing</h2>
                            <p class=" text-[#6e6e6e]">Our fundraising campaigns listing service provides a platform for Black African business owners to showcase their
                            fundraising efforts.</p>
                            <a href="{% url 'campaigns:create-campaign' %}"
                                class="inline-block transition-all duration-300 p-[10px_35px] pr-[45px] text-custom-primary border-[1px] border-custom-primary
                                                                            relative rounded-[6px] mt-[20px] uppercase before:absolute before:right-[20px]
                                                                            before:top-[51%] before:content-['\f103'] before:font-['Flaticon']
                                                                            before:-translate-y-1/2 hover:bg-custom-primary hover:text-white">Add Campaign</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="p-[50px] col:p-[30px_25px] shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="text-center">
                            <div
                                class="w-[120px] h-[120px] leading-[120px] bg-[#f5f5f5] text-center mx-auto mb-[30px] text-[50px] rounded-[50%]">
                                <i class="fa-regular fa-calendar-check text-custom-primary"></i>
                            </div>
                            <h2 class="text-[#14212b] text-[30px] font-bold mb-[20px] xl:text-[25px] col:text-[25px]">
                                Business Events</h2>
                            <p class=" text-[#6e6e6e]">The business events listing service allows you to promote your business-related events to a wider audience.</p>
                            <a href="{% url 'events:create-event' %}" class="inline-block transition-all duration-300 p-[10px_35px] pr-[45px] text-custom-primary border-[1px] border-custom-primary
                                                            relative rounded-[6px] mt-[20px] uppercase before:absolute before:right-[20px]
                                                            before:top-[51%] before:content-['\f103'] before:font-['Flaticon']
                                                            before:-translate-y-1/2 hover:bg-custom-primary hover:text-white">Add Event</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

<section class="w-full overflow-hidden font-sans relative py-20 block bg-white">
    <div class="container">
        <div class="flex lg:flex-row flex-col lg:text-left text-center flex-wrap items-center justify-between mb-12">
            <div class="lg:mb-0 mb-4 aos-init aos-animate" data-aos="fade-up">
              <h2 class="text-2xl lg:text-3xl font-bold capitalize mb-2 text-custom-h"> Trending Listing </h2>
              <h6 class="text-sm lg:text-base text-gray-500  font-normal"> A selection of listing verified for quality </h6>
            </div>
            <div data-aos="fade-up" class="aos-init aos-animate">
              <a href="{% url 'listings:listings' %}" class="text-gray-500  hover:text-blue-500 flex items-center"> Explore More <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 ml-3" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg> </a>
            </div>
          </div>
        <div class="relative swiper-4">
            <div class="swiper-wrapper py-8">
                {% for listing in listings %}
                <div class="swiper-slide">
                    <div class="group overflow-hidden shadow-[0px_10px_30px_0px_rgba(0,_0,_0,_0.07)] rounded-lg">
                        <a href="{{listing.get_absolute_url}}" class="relative overflow-hidden block">
                            <div class="img_box overflow-hidden relative block">
                                <div class="overflow-hidden h-52 bg-custom-h relative block transition-all duration-500 ease-in">

                                    <img src="{% if listing.background_image %}{{listing.background_image.url}}{% else %}{% static 'imgs/no-image.png' %}{% endif %}"
                                        alt="{{listing.title}} background_image by {{listing.owner.get_full_name}}"
                                        class="w-full transition-all duration-500 ease-in group-hover:scale-105 group-hover:opacity-50 h-full object-cover">
                                    
                                </div>
                                <div class="absolute bottom-3 left-3">
                                    <div class="py-1 px-2 bg-custom-primary">
                                        <div class="flex items-center justify-center space-x-1">
                                            <i class="fa-regular text-white fa-xs fa-star"></i>
                                            <p class="text-white text-xs p-0 font-semibold">{{listing.get_average_rating|safe}}</p>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                            <div class="block text-center space-y-6 bg-white ">
                                <div class="space-y-1 pt-5 px-5">
                                    <h3 class="text-custom-h m-0 transition-all duration-500 text-xl font-bold">
                                        <a href="{{listing.get_absolute_url}}"
                                            class="text-custom-h transition-all duration-500 ease-in group-hover:text-custom-primary">{{listing.title|truncatewords:3}}</a>
                                    </h3>
                                    <p class="text-gray-500 text-sm">
                                        {{listing.slogan}}
                                    </p>
                                </div>
                
                                <div class="relative">
                                    <div class="block">
                                        
                                        <p class="text-xs text-gray-500 font-normal"><span><i class="fa-solid fa-location-dot text-custom-primary mr-2"></i></span>{{listing.get_location|truncatewords:5}}</p>
                                        <a href="tel:{{listing.phone}}" class="text-xs block hover:text-custom-h text-gray-500 font-normal"><span><i
                                                    class="fa-solid fa-phone text-custom-primary mr-2"></i></span>{{listing.phone}}
                                        </a>
                                        <a href="emailto:{{listing.email}}" class="text-xs block hover:text-custom-h text-gray-500 font-normal"><span><i
                                                    class="fa-solid fa-envelope text-custom-primary mr-2"></i></span>{{listing.email}}
                                        </a>
                                    </div>
                                </div>
                                <div class="relative block border-t py-2 px-5  border-solid">
                                    <div class="relative flex justify-between items-center">
                                        <div class="relative space-x-2 flex justify-center w-fit items-center">
                                            <div
                                                class="text-sm rounded-full  h-7 w-7 grid items-center justify-center text-custom-primary">
                                                <i class="fa-solid fa-tag font-bold p-0 m-0 text-sm"></i>
                                            </div>
                                            <div class="w-full">
                                                <a href="{% url 'listings:get-listings-by-category' category=listing.category.slug %}"
                                                    class="text-xs text-gray-500 font-normal">{{listing.category.label|truncatewords:1}}</a>
                                            </div>
                                            <div
                                                class="text-sm rounded-full  h-7 w-7 grid items-center justify-center text-custom-primary">
                                                <p class="font-light p-0 m-0 text-xs">+{{listing.category.businesses.count}}</p>
                                            </div>
                                        </div>
                                        <div class="">
                                            <p class="text-xs text-gray-500 font-normal">{% if listing.is_open %}<span
                                                    class="p-1 rounded-sm text-white bg-green-400">open</span>{% else %}<span
                                                    class="p-1 text-white rounded-sm bg-red-400">close</span>{% endif %}</p>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="w-full font-sans relative py-20 block bg-custom-bg">
    <div class="container">
        <div class="text-center mb-8">
            <p class="text-custom-primary mb-3 font-semibold text-lg">Categories</p>
            <h4 class="text-4xl text-custom-h font-bold">Our Top Categories</h4>
        </div>
        <div class="swiper-1 mb-8 overflow-hidden">
            <div class="swiper-wrapper py-8">
                {% for category in listing_categories %}
                <div class="swiper-slide">
                    <div class="w-full sm:w-48 relative bg-white  rounded-md shadow-[0_16px_32px_hsla(188,_63%,_7%,_0.1)]">
                        <a href="{% url 'listings:get-listings-by-category' category.slug %}" class="features-card text-center flex flex-col items-center py-4 justify-center">
                
                            <div class="card-icon w-16 mb-3 h-16 overflow-hidden">
                                {% if category.thumbnail %}
                                    <img src="{{category.thumbnail.url}}" alt="Medical Category" class="w-full  h-full object-cover">
                                {% else %}
                                    <img src="{% static 'imgs/categories/Medical.png' %}" alt="Medical Category" class="w-full  h-full object-cover">
                                {% endif %}
                            </div>
                            <div>
                                <h3 class="card-title text-lg font-bold text-custom-h">{{category.label|truncatechars:10}}</h3>
                                <p class="text-sm text-custom-text">{{category.businesses.count}}+ listings</p>
                            </div>
                            
            
                        </a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        
    </div>
</section>

<section class="section-blog bg-custom-bg py-20">
    <div
        class="container">
        <div class="text-center w-full mb-[30px] mx-auto" data-aos="fade-up" data-aos-duration="2000">
            <h2
                class="text-custom-h leading-[1.2] md:text-4xl xl:pb-0 sm:text-lg font-bold">
                Stay Update With <span class="text-custom-primary">Us</span>
            </h2>
        </div>
        <div class="slick-slider blog-slider my-0 lg:flex flex-wrap w-full">
            {% for post in posts %}
            <div class="blog-card mx-3 my-0">
                <figure class="m-0 relative truncate"><img src="{% if post.image %}{{post.image.url}}{% else %}{% static 'imgs/no-image.png'  %}{% endif %}" alt="{{post.title}}"
                        class="w-full rounded-2xl"></figure>
                <div class="lh-blog flex flex-col justify-center">
                    <div class="lh-blog-date py-4 leading-[15px]">
                        <span class="text-sm font-Roboto"><code class="text-base text-custom-primary">{{post.category.label}}</code>
                            - {{post.created.date.day}} {{post.created|date:"M"}} {{post.created|date:"Y"}} - {{post.comments.count}} Comment</span>
                    </div>
                    <a class="font-Cardo xl:text-lg text-base xl:leading-7 leading-6 text-black mt-0 font-bold cursor-pointer hover:text-black"
                        href="{{post.get_absolute_url}}">{{post.title}}.</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<div x-float x-show="announcement" class="fixed inset-x-0 bottom-0 p-4 z-[600]">
    <div
        class="relative flex items-center justify-between gap-4 rounded-lg bg-custom-primary px-4 py-3 text-white shadow-lg">
        <p class="text-sm font-medium">
            Check out our upcoming events 
            <a href="{% url 'events:events' %}" class="inline-block underline">here!</a>
        </p>

        <button @click="announcement = false" aria-label="Close"
            class="shrink-0 rounded-lg bg-black/10 p-1 transition hover:bg-black/20">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src='{% static "js/swiper-bundle.min.js" %}'></script>
<script>
    // import Swiper from '{% static "js/swiper-bundle.min.js" %}'

    const swiper = new Swiper('.swiper-1', {
            // Optional parameters
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,

            breakpoints: {
                // when window width is >= 320px
                350: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                750: {
                    slidesPerView: 3,
                    spaceBetween: 20
                },
                // when window width is >= 480px
                1032: {
                    slidesPerView: 4,
                    spaceBetween: 30
                },
                // when window width is >= 640px
                1140: {
                    slidesPerView: 5,
                    spaceBetween: 30
                }
            }
        });

    const swiper_2 = new Swiper('.swiper-2', {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        breakpoints: {
            // when window width is >= 320px
            750: {
                slidesPerView: 2
            },
            1032: {
                slidesPerView: 2.5
            },
            // when window width is >= 640px
            1140: {
                slidesPerView: 3,
                spaceBetween: 30
            }
        }
    })
    const swiper_3 = new Swiper('.swiper-3', {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            breakpoints: {
                // when window width is >= 320px
                750: {
                    slidesPerView: 2
                },
                1032: {
                    slidesPerView: 2.5
                },
                // when window width is >= 640px
                1140: {
                    slidesPerView: 3,
                    spaceBetween: 30
                }
            }
        })
    const swiper_4 = new Swiper('.swiper-4', {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            breakpoints: {
                // when window width is >= 320px
                750: {
                    slidesPerView: 2
                },
                1032: {
                    slidesPerView: 2.5
                },
                // when window width is >= 640px
                1140: {
                    slidesPerView: 3,
                    spaceBetween: 30
                }
            }
        })
</script>

<script src="{% static 'js/slick.min.js' %}"></script>
<script>
    /* Blog Sider */
        $(".blog-slider").slick({
            slidesToShow: 4,
            infinite: true,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: false,
            prevArrow: false,
            nextArrow: false,
            responsive: [
                {
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
</script>
{% endblock js %}