{% extends '_base.html' %}
{% load static %}
{% load static tailwind_tags %}
{% block title %}500 Server error{% endblock title %}

{% block content %}
<section class="flex  items-center h-full p-16 dark">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
        <div class="max-w-md text-center">
            <h2 class="mb-8 text-custom-h font-extrabold text-9xl">
                <span class="sr-only">Error</span>500
            </h2>
            <p class="text-2xl text-gray-500 font-semibold md:text-3xl">Ooops! Services Offline
            </p>
            <p class="mt-4 mb-8">Looks Like Our Services Are Currently Offline. Will Be Back Soon!</p>
            <a href="{% url 'bbgi_home:bbgi-home' %}"
                class="px-8 py-3 text-white bg-custom-primary font-semibold rounded">Go back</a>
        </div>
    </div>
</section>
{% endblock content %}